[2017-10-17 23:49] CIPop commented on #171
Failed for `Microsoft.Azure.Devices.E2ETests.X509E2ETests.X509_DeviceSendSingleMessage_Amqp` as well.

[code]

[code]

[2017-10-18 01:25] CIPop opened #194 "Method_DeviceMethodRespLinkDropRecovery_AmqpWs failed on CI run"
Multiple tests failing intermittently with DeviceNotFoundException:

[code]

[code]

/cc @jasmineymlo @ryan-z-johnson @tameraw

[2017-10-18 17:07] #116 closed

[2017-10-18 17:08] #108 closed

[2017-10-18 17:18] tameraw commented on #80
Try with NetStandard1.3 from our Nuget package on mono using our latest version. Are you using Xamarin? Or Mono on Linux? And is it possible for you to move to .NetCore?

[2017-10-18 17:21] tameraw commented on #139
@wmattlong - We need to run benchmarks against the SDK to identify where issues are coming.

[2017-10-18 17:25] #145 closed

[2017-10-18 17:27] tameraw commented on #152
Checked in and released.

[2017-10-18 17:27] #152 closed

[2017-10-18 17:29] tameraw commented on #138
@arturl - Agree. This is no longer supported. NetStandard 1.3 is our target.

[2017-10-18 17:45] #127 closed

[2017-10-18 17:46] #101 closed

[2017-10-18 18:00] tameraw commented on #165
@ewok2030 - Are you still planning to work on this? Thanks.

[2017-10-18 18:02] tameraw commented on #85
@sergaz-msft - Any update on this? Thanks.

[2017-10-18 18:17] tameraw commented on #180
@gmileka - Would you be able to provide a PR for this? Thanks.

[2017-10-18 20:37] rquackenbush commented on #124
I just did some testing with the latest version of mono (`5.4.0.201`) and am happy to report that the Azure AMQP client is working and receiving messages. I haven't tried direct method invocations yet.

The MQTT client isn't throwing any errors, but it always times out when attempting to connect.

[2017-10-18 22:47] CIPop commented on #183
@aribeironovaes I've tested and this works fine as long as you use the matching policy name and respective key.

I tried "iothubowner" and "device" and both worked as expected.

![image](https://user-images.githubusercontent.com/8635911/31746313-a3e928e6-b41b-11e7-829d-b8ec0d3a74ff.png)

[2017-10-18 22:49] #183 closed

[2017-10-18 22:57] CIPop commented on #138
The plan is to remove the PCL build for the next release.
Support will be maintained for [.Net runtimes supporting NetStandard1.3](https://github.com/dotnet/standard/blob/master/docs/versions.md) as well as the non-NetStandard compliant .Net Framework 4.5 build.

[2017-10-18 23:04] CIPop commented on #167
Thanks @FelixXWS and @sodablue for reporting and investigating this issue.
Tracking the dependency regression with https://github.com/Azure/azure-amqp/issues/81

[2017-10-18 23:04] #167 closed

[2017-10-18 23:25] ryan-z-johnson commented on #106
@sarsijravi sorry for the long delay. I have been able to reproduce your issue. The way we are encouraging people who are using a mono based platform is to create a .NetStandard 1.3 class library and add the nugget package to that, and reference the library in your Xamarian.Android application. Here is a GitHub Repo with the structure I am talking about. https://github.com/ryan-z-johnson/AzureIoTX

[2017-10-18 23:29] CIPop commented on #163
@adminnz I have confirmation from the service team that the bug has been fix and queued up for deployment.
We'll let you know once the service has been updated.

[2017-10-19 00:50] CIPop commented on #171
New failures today. I will disable all X509/AMQP tests for now against this bug.

[2017-10-19 01:38] CIPop commented on #194
Two more failed today.

[2017-10-19 01:50] CIPop commented on #124
@rquackenbush the QTT on Mono doesn't give you the `System.NotSupportedException: Specified method is not supported.` anymore? Can you check if it actually tries to connect using Wireshark - maybe it's a firewall rule or something on the network side interfering with the connection on that port.

[2017-10-19 11:56] rquackenbush commented on #124
I haven't tried to capture any traffic, but I have have a version of my
code that uses the M2Mqtt library (https://m2mqtt.wordpress.com/) to
connect and it works fine so it shouldn't be a network / firewall issue.

On Wed, Oct 18, 2017 at 9:50 PM, Cristian Pop <notifications@github.com>
wrote:

[2017-10-19 16:27] PureWeen opened #197 "Linker issues when using with Xamarin Android project"
I'm not sure if this is an issue with these libraries, myself, or Xamarin tooling

But I'm getting errors like this when trying to use Microsoft.Azure.Devices.Client with a PackageReference based Xamarin.Android project
[code]

I've also seen this
[code]

I have a reproduction of the issue here
https://github.com/PureWeen/ReactiveUiEvents/tree/linkerproblem

just grab the linkerproblem branch and

[2017-10-19 19:25] CIPop commented on #169
Fixed by #196.

[2017-10-19 19:25] #169 closed

[2017-10-19 19:26] CIPop commented on #169
Thanks @xzsheng for the fix!

[2017-10-19 19:46] CIPop commented on #197
@ryan-z-johnson was looking at similar issues yesterday. One idea that we have about this is that the PCL library may interfere and so I will be removing it part of the next release (see #138 ).
Instead of importing the Devices.Client directly, could you try creating a netstandard lib and import it there? You can then reference the lib from Xamarin and hopefully it'll fix the issue.

[2017-10-19 19:48] CIPop commented on #30
We are removing PCL support and will instead focus on supporting the NetStandard for cross-plat code: #138 .

[2017-10-19 19:48] #30 closed

[2017-10-19 19:54] CIPop commented on #61
The type is currently designed to use the [Factory Method pattern](https://en.wikipedia.org/wiki/Factory_method_pattern) and we would like to keep that pattern to ensure we can enhance this in the future (i.e. return a different implementation of the abstract from the factory).

@rajeevmv @PanClifton Please feel free to submit a PR.

[2017-10-19 19:57] CIPop commented on #87
Closing as a duplicate to #61 . Feel free to submit a PR to address this issue.

[2017-10-19 19:57] #87 closed

[2017-10-19 19:58] CIPop commented on #61
From #87 : support would also be required for RegistryManager.

[2017-10-19 21:15] PureWeen commented on #197
Yea that's kind of how I was able to fix it.  Basically what I did to fix for now is

- create netstandard1.2 with fallback since this project is netstandard1.3
[code]
- then I added that project directly into the platform project. At this point the Android project complains about not being able to find the two "PCL" dlls... So I just added a hard reference to those PCLs into the Android project

[2017-10-19 21:52] CIPop commented on #197
Thanks for the confirmation @PureWeen !
In that case, I'll mark this as a duplicate of #138 .

[2017-10-19 21:55] CIPop commented on #158
We're tracking multiple issues caused by the PCL libraries. The decision was to remove the PCL binary from our next release.
As a workaround, please try adding a new netstandard1.3 (or 2.0) library to your project and reference it from the Xamarin application. Using our SDK within this library should make things work.

Tentatively closing this as a duplicate of #138 .

[2017-10-19 21:58] CIPop commented on #80
We're tracking multiple issues caused by the PCL libraries. The decision was to remove the PCL binary from our next release.
As a workaround, please try adding a new netstandard1.3 (or 2.0) library to your project and reference it from the Mono application. Using the SDK within this library should work.
We also recommend, if your platform allows, switching to [.Net Core ](https://www.microsoft.com

[2017-10-19 21:58] #80 closed

[2017-10-19 21:59] CIPop commented on #106
We're tracking multiple issues caused by the PCL libraries. The decision was to remove the PCL binary from our next release.
Please follow the above workaround until we complete this work.

Tentatively closing this as a duplicate of #138 .

[2017-10-19 21:59] #106 closed

[2017-10-19 21:59] CIPop commented on #124
We're tracking multiple issues caused by the PCL libraries. The decision was to remove the PCL binary from our next release.
As a workaround, please try adding a new netstandard1.3 (or 2.0) library to your project and reference it from the Mono application. Using the SDK within this library should work.
We also recommend, if your platform allows, switching to [.Net Core ](https://www.microsoft.com

[2017-10-19 21:59] #124 closed

[2017-10-19 22:09] PureWeen commented on #158
In my case it only worked if the netstandard library was 1.2 or lower otherwise I'd get the above exception or the Linker one
[code]

[2017-10-19 22:51] CIPop commented on #158
Thanks for letting us know @PureWeen. I'll reopen this to ensure we don't hit that kind of issue after removing the PCL libs.

[2017-10-20 16:26] jasmineymlo commented on #162
The fix on service should now be available.  Thanks.

[2017-10-20 16:26] #162 closed

[2017-10-21 19:18] ewok2030 commented on #165
@tameraw - I was planning on it, but now I’m going to be busy for the next few weeks.

[2017-10-23 08:10] mohammednaseem opened #200 "Azure Iot: Microsoft.Azure.Devices.Client.Exceptions.UnauthorizedException:"
[http://azuregeon.blogspot.in/2017/10/azure-iot-c-certificate-connectivity.html](url)

Please check the above link. I was following the Microsoft documentation on Azure IoT but I am not able to connect (securely with X.509 certificates to the Azure IoT hub.
I have documented the completed steps in the above link. Please have a look and let know what I am missing.

[2017-10-23 17:55] tameraw commented on #164
@FelixXWS - At the moment there are no plans to add support for reject and abandon over MQTT.
Please submit in [User-Voice](https://feedback.azure.com/forums/321918-azure-iot) as service would need to implement this feature.

[2017-10-23 17:55] #164 closed

[2017-10-23 18:06] tameraw commented on #121
@wesselkranenborg - Currently batching is not supported on the Service side for MQTT. For service related features, please submit in [user-voice](https://feedback.azure.com/forums/321918-azure-iot).

[2017-10-23 18:06] #121 closed

[2017-10-23 18:16] tameraw commented on #190
@v-tbert - Currently we do not support multiplexing over MQTT. For your Edge scenario, it is recommended that you use AMQP which offers you multiplexing.

[2017-10-23 18:16] #190 closed

[2017-10-23 18:28] tameraw commented on #200
Please try using the script in this [tutorial](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-security-x509-get-started).

[2017-10-23 18:28] #200 closed

[2017-10-23 21:08] ryan-z-johnson commented on #180
@gmileka - Would you be able to provide us a Pull Request for this. Thank you.

[2017-10-23 22:51] jasmineymlo commented on #157
@mtheolog, For your reference, check out the Message Lifecyle https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-messages-c2d.  Devices must complete the received message or choose to reject/abandon the message.

[2017-10-24 01:25] CIPop commented on #197
After removing PCL, this is still failing. More investigation is required to understand why the Xamarin compiler is throwing this error. The ICloneable appears to be type-forwarded by one of the libraries which causes some conflicts.
I've tried with the latest VS and with a package that doesn't contain any PCL references.

I wasn't able to repro in "Debug" mode.
Since Release is required to deploy

[2017-10-24 01:53] PureWeen commented on #197
By latest VS does that include the Preview builds as well?  Talking to one of the Xamarin folks he had told me there were some improvement there to try
/cc @JonDouglas

[2017-10-24 02:04] CIPop commented on #197
@PureWeen I didn't try the preview Xamarin build and I'm not yet certain this is a bug on our side or Xamarin. I did successfully test Xamarin/iOS sample and that worked as expected.

[2017-10-24 16:19] jasmineymlo commented on #117
Just an update that service team will be working on this issue.  Thanks.

[2017-10-24 18:13] ryan-z-johnson commented on #85
I was able to reproduce the issue using @K47S code he provided above. I am seeing a jump from about 11 mb of usage to 22 mb of usage at which point it holds steady. I am looking into what may be causing it now.

@K47S @ygulsen @Meandron  @JochenKalmbach is this in line with the kind of memory jump you are seeing?

[2017-10-24 18:25] JochenKalmbach commented on #85
@ryan-z-Johnson: In our scenario the memory increases until about 3 GB and then the process crashes... so not really the issue you are seeing... increase to 22 mb should be ok....

[2017-10-24 18:32] ryan-z-johnson commented on #85
Would you be able to provide what you are using to track the memory leak, time it takes to crash, and how you have your environment setup so I can try and reproduce as much as possible.
________________________________
From: Jochen Kalmbach <notifications@github.com>
Sent: Tuesday, October 24, 2017 11:26:01 AM
To: Azure/azure-iot-sdk-csharp
Cc: Ryan Johnson (AZURE); Mention
Subject: Re: [Azure/azu

[2017-10-24 19:04] JochenKalmbach commented on #85
The comment from @K47S explains what environment we have:
https://github.com/Azure/azure-iot-sdk-csharp/issues/85#issuecomment-322156501
Env: Win7 / 32 Bit process / Disconnect network cable

[2017-10-24 19:27] CIPop opened #205 "Nuspec out of date"
We need to revisit all *.nuspec files and ensure that all platforms get the correct dependencies.
One example: DeviceClient for Xamarin iOS is missing the following:

[code]

To do this, for each of our samples:
1. Build local NuGet packages (each project has a \NuGet\make_nuget_package.ps1)
2. Remove the project dependency to `Microsoft.Azure.Devices.*`
3. Add a reference to the local NuGet packa

[2017-10-24 20:29] ryan-z-johnson commented on #85
It is quickly to 3gb or over a few hours? @JochenKalmbach

[2017-10-24 20:44] JochenKalmbach commented on #85
About 2-3 hours

[2017-10-24 21:14] ryan-z-johnson commented on #85
@JochenKalmbach  is it a linear growth or exponential growth of the memory usage?

[2017-10-25 04:21] JochenKalmbach commented on #85
Linear...

[2017-10-25 05:59] allenhula opened #206 "System properties like sequence number is not populated in received C2D message using mqtt protocol"
- **OS and version used:**  Windows 10
- **SDK version used:** 1.5.2

# Description of the issue:
In received C2D message using mqtt protocol, system properties like sequence number is not populated

# Code sample exhibiting the issue:
Device:
[code]
# Output:
![image](https://user-images.githubusercontent.com/20550718/31982741-b8affe50-b98c-11e7-98fa-fe93bdd19fcd.png)

If using other protocols, t

[2017-10-26 00:01] grtn316 opened #207 "Issue after sending 1sec messages for over an hour"
DELETED

[2017-10-26 13:43] grtn316 commented on #207
``

[2017-10-26 13:43] #207 closed

[2017-10-26 18:22] CIPop commented on #158
I think this is a duplicate of both #205 and #197.

[2017-10-26 18:23] CIPop commented on #197
Tentative workaround from @PureWeen:

[code]

[2017-10-26 19:08] CIPop commented on #206
Thanks for reporting @allenhula.
Do you know if this is something that the service side should fill in or we're just not properly setting this on the client side?

[2017-10-26 19:15] CIPop commented on #138
I have the work staged in https://github.com/CIPop/azure-iot-sdk-csharp/tree/pcl. Additional changes need to be made according to PR comments from here: #199 .

I'm pausing work on this until we figure out why we're hitting #197. A workaround (using PCL?) seems to allow Android usage for now.

[2017-10-27 00:43] CIPop commented on #85
@JochenKalmbach thanks for your patience. @ryan-z-johnson and I are actively working on this issue.
We've found that FileStream objects are being leaked. They don't appear to be originating in our code but in one of the dependencies.

We'll keep this thread up to date with our investigation.

[2017-10-27 16:36] TimBo93 opened #208 "DeviceClient.CompleteAsync throws NullRefException"
- **OS and version used:** <VERSION>
Win 10 Insider Preview 17025

- **SDK version used:** <VERSION>
.NET Core 2.0
Microsoft.Azure.Devices 1.4.1
Microsoft.Azure.Devices.Client 1.5.2

# Description of the issue:

Executing the code below successfully receives a message and then crashes by CompleteAsync() with a NullReferenceException.
I would expect a more detailed exception message about what did

[2017-10-27 18:59] CIPop commented on #208
Thanks for reporting @TimBo93. We'll need to take a look.
/cc @tameraw @jasmineymlo

[2017-10-27 23:42] ryan-z-johnson commented on #85
@JochenKalmbach I have some findings, I was able to replicate your issue where it leaked UnwrapPromise objects. I implemented my own retry set it to retry after 1 tick and always retry just to force a fast growth of memory. And in the loop I have it force GC after 10,000 operations.

**AMQP_WS**
![image](https://user-images.githubusercontent.com/29990023/32128441-93193ff6-bb32-11e7-945d-dc7b90f692

[2017-10-28 15:56] SunainaDG opened #209 "Unable to add Microsoft.Azure.Devices namespace to Azure Function App."
I have an Azure Function from which I need to send back messages to my devices through IoTHub.
Every time I try to add the statement:

using Microsoft.Azure.Devices;

I get the below error:

run.csx(11,23): error CS0234: The type or namespace name 'Devices' does not exist in the namespace 'Microsoft.Azure' (are you missing an assembly reference?)

But strangely as the error suggests, if I just go

[2017-10-30 05:10] ygulsen commented on #85
@ryan-z-johnson on windows 7 embedded, disconnect network cable and in a couple of hours memory jumps to maximum avaliable (in our hardware it is 4gb) then crashes

[2017-10-30 05:49] allenhula commented on #206
I didn't debug into yet. Considering other protocols work fine, it seems client side issue.

[2017-10-30 16:41] ryan-z-johnson commented on #85
@ygulsen what protocol?

[2017-10-30 18:01] CIPop commented on #209
I'm not familiar with Azure Functions but .Net Core doesn't use project.json anymore.

Please follow instructions from https://www.microsoft.com/net/core#windowscmd . You can add references using the `dotnet` tool. Please see `dotnet add package -h`.
If your application is a .Net 4.7 app you may want to use [Visual Studio ](https://www.visualstudio.com/downloads/) to create the project and the Ref

[2017-10-30 18:01] #209 closed

[2017-10-30 21:46] varunpuranik opened #211 "C# DeviceClient returns multiple unexpected ConnectionStatusChanges events when the network goes down"
OS: Windows 10
SDK: v1.5.2

### Description of the issue:
If I set the ConnectionStatusChangesHandler on the DeviceClient (over AMQP), and the network goes down, I expect one call to the callback with ConnectionStatus = Disconnected/Disconnected_Retrying, and ConnectionStatusChangeReason = No_Network.
What I get instead are 3 callbacks in quick succession -
ConnectionStatus = Disconnected_Retrying

[2017-10-31 05:55] ygulsen commented on #85
sorry, mqtt

[2017-10-31 18:13] candersonio opened #212 "Upgrade 'Microsoft.Azure.Amqp' to latest version."
# Description of the issue:
Currently, the DeviceClient package is built against Microsoft.Azure.Amqp 2.0.6, but doesn't have a maximum version so it can be used with Microsoft.Azure.Amqp 2.1.*.

There is a breaking change in Microsoft.Azure.Amqp 2.1.* from an abstract class that is used in DeviceClient. An example of an issue raised from this is #167. For more details on the breaking change, refe

[2017-11-01 14:15] andyce1010 opened #213 "Exception thrown when calling RegistryManager.GetTwinAsync()"
OS and version used:  Windows 10
SDK version used: 1.4.1 on .NET Core 2.0

Description of the issue:
Any calls to RegistryManager.GetTwinAsync("deviceId") seem to result in a JsonSerializationException being thrown.
This seems to have suddenly started happening today, so I not sure what has changed.

I've have created a simple .NET core console app to reproduce the issue (see code below), and I ge

[2017-11-01 20:55] ryan-z-johnson commented on #211
Thanks for reporting, I am able to reproduce your issue. I'm looking into a fix now.

[2017-11-02 12:19] jonasaebersold commented on #213
We have the same problem in our project. We have integration tests which fail now but we did not change anything in our source code. If we switch the test project from net core 2.0 to .net 4.6.1, the test works again. There has to be a change in the JSON-telegram, because our code has not changed but from one day to the other we cannot read the device-twin anymore.

[2017-11-02 12:55] Jaternius commented on #213
After investigating the issue a bit, we have found the source of the issue:

https://github.com/Azure/azure-iot-sdk-csharp/blob/master/shared/Microsoft.Azure.Devices.Shared/TwinJsonConverter.cs#L89-L92

The problem arises in a JSON telegram change. There is a new object, called `capabilities`, which is not handled by the TwinJsonConverter. Therefore, it's thinking that the EndObject tag belongs to

[2017-11-02 18:29] jasmineymlo commented on #213
This is a known issue. It only affects .Net standard and core clients. We are in the process of fixing this on the service side.  Until then a workaround is to call the following before the call to GetTwinAsync:

 JsonConvert.DefaultSettings = () => new JsonSerializerSettings
    {
        CheckAdditionalContent = false
    };

Thanks.

[2017-11-03 11:46] maddentist opened #216 "DeviceClient.ReceiveAsync() fails with Xamarin.Android"
- **OS and version used:**
Android API 25

- **SDK version used:**
Microsoft.Azure.Amqp 2.1.2
Microsoft.Azure.Devices.Client 1.5.2
Microsoft.Azure.Devices.Shared 1.1.1

# Description of the issue:
Call to DeviceClient.ReceiveAsync() fails with xamarin.android. it throws an obscure exception linked to Microsoft.Azure.Amqp and some resource not found. (details below)

# Code sample exhibiting the is

[2017-11-03 16:37] TimBo93 commented on #208
My bad ! See:

[code]
can be closed.

[2017-11-03 17:22] #208 closed

[2017-11-03 20:15] CIPop commented on #216
Thanks for reporting @maddentist . What Xamarin version are you using?

This might be related to https://github.com/Azure/azure-iot-sdk-csharp/issues/197 .

[2017-11-03 21:55] ryan-z-johnson commented on #216
@maddentist Taking another look at this, would you try downgrading your AMQP to 2.0.6 and letting me know what happens it may be related to issue #212 as well.

[2017-11-04 19:51] mjmeans opened #217 "Broken links in readme.md"
The links for the below topics in the main readme.md are broken.

Running the C# samples on Windows
Running the C# samples on Windows IoT Core

[2017-11-05 15:22] maddentist commented on #216
@CIPop these are the versions used (copied from VS) :

Microsoft Visual Studio Enterprise 2017
Version 15.4.2
VisualStudio.15.Release/15.4.2+27004.2006
Microsoft .NET Framework
Version 4.7.03013

Version installée : Enterprise

Visual Basic 2017   00369-60000-00001-AA384
Visual C# 2017   00369-60000-00001-AA384
Visual C++ 2017   00369-60000-00001-AA384
Visual F# 4.1   00369-60000-00001-AA384
Ardui

[2017-11-05 15:45] maddentist commented on #216
@ryan-z-johnson, I've downgraded AWQP to 2.0.6 in the .NET standard lib and the Android project, the exact same problem occurs.

[2017-11-07 02:39] CIPop opened #219 "Microsoft.Azure.Devices.Client.dll!Microsoft.Azure.Devices.Client.IotHubScopeConnectionPool.RemoveRef called twice when AMQP + Token auth is used"
- **OS and version used:** Win10

- **SDK version used:** master

# Description of the issue:
The connection is released twice

# Code sample exhibiting the issue:
[code]

# Console log of the issue:
First release is at `CloseAsync`

 	Microsoft.Azure.Devices.Client.dll!Microsoft.Azure.Devices.Client.IotHubScopeConnectionPool.RemoveRef() Line 59	C#	Symbols loaded.

 	Microsoft.Azure.Devices.Client

[2017-11-09 17:44] v-tbert commented on #190
AMQP does not support device methods and other IoTHub functionality does it?

[2017-11-09 18:07] ryan-z-johnson commented on #190
![image](https://user-images.githubusercontent.com/29990023/32621709-85142f1c-c535-11e7-8389-42092c8a3ccc.png)

We support  Device methods, twins, sending, and receiving messages over AMQP.

[2017-11-09 18:22] v-tbert commented on #190
Don't know when that changed but that is the best news I have heard all day, thanks!

[2017-11-09 21:30] CIPop opened #222 "E2E tests improper use of TPL"
A lot of code in the E2E tests are using Tasks the wrong way.
We need to remove all instances of .Result and .GetAwaiter().GetResult().

Initialization can be performed by calling the `async Task` init methods during test execution or using `AsyncLazy<T>` to ensure init-once semantics.

Examples: ClassInitialize/ClassCleanup calls to InitializeEnvironment and CloseAsync().

[2017-11-09 21:50] CIPop opened #223 "Potential race condition in Mqtt protocol handler"
The following async code is called in a non-async callback context without being awaited:

https://github.com/Azure/azure-iot-sdk-csharp/blob/581b59cd37d98d2a78ec260f03d55e205036e327/device/Microsoft.Azure.Devices.Client/Transport/Mqtt/MqttIotHubAdapter.cs#L104

The following I/O will run in parallel:

https://github.com/Azure/azure-iot-sdk-csharp/blob/581b59cd37d98d2a78ec260f03d55e205036e327/devi

[2017-11-10 11:25] mani5219 commented on #145
It might be  happening because of corporate proxy

[2017-11-11 03:36] CIPop opened #226 "API documentation link is not working"
In the root readme.md the link for `The API reference documentation for .NET SDK is here.` is not working.

[2017-11-11 03:37] CIPop commented on #226
@ryan-z-johnson @jasmineymlo @tameraw do you know where this link should point to?

[2017-11-11 03:47] CIPop opened #227 "Dev prerequisites are out of date"
- [x] MD format seems to be incorrect - it displays duplicates where links were inserted: "For building classic desktop .NET .NET application"
- [x] Visual Studio 2017 is now required
- [x] It's unclear what features from 2017 are required.
- [x] NetMF is required and needs to be installed as well (https://github.com/NETMF)

[2017-11-13 21:44] CIPop commented on #163
The service has been updated.
Please try again now and let us know if you still see this issue.

[2017-11-13 21:44] #163 closed

[2017-11-15 00:33] CIPop opened #229 "Test Failed: Microsoft.Azure.Devices.E2ETests.FileUploadE2ETests.FileUploadSuccess_QuotaExceed_Amqp"
Logs for failing tests: FileUploadSuccess_QuotaExceed_Amqp - this appears to be a timeout during the POST operation.
We need to ensure that the File operation is retried.

This failed during integration for #228.

[code]

[2017-11-15 11:26] yfakariya commented on #213
Any update for this? This issue looks critical for on-going services.

[2017-11-15 17:09] CIPop opened #230 "Message_AmqpConnectionLossSendRecovery_AmqpWs failed with Microsoft.ServiceBus.Messaging.MessagingException:"
Failed during CI testing in #224.

The exception is suggesting retry.

[code]
Microsoft.ServiceBus.Common.AsyncResult.End[TAsyncResult](IAsyncResult result)
Microsoft.ServiceBus.Messaging.Amqp.AmqpMessagingFactory.EndOpenEntity(IAsyncResult result)
Microsoft.ServiceBus.Messaging.Amqp.AmqpMessageReceiver.EndCreateLink(IAsyncResult result)
Microsoft.ServiceBus.Messaging.Amqp.FaultTolerantObject`1.Cr

[2017-11-15 18:59] yzhong94 commented on #226
Service: https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.devices?view=azure-dotnet
Device: https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.devices.client?view=azure-dotnet

[2017-11-15 19:19] jasmineymlo commented on #213
The fix will be in this week's deployment.  Thanks.

[2017-11-16 18:16] ewertons opened #232 "X509 Authentication to Azure IoT Hub"
(Filed on behalf of @domenicoamelino)

Hi,

I am working in Windows 10 with a C# Application in order to connect to Azure IoT HUB with X509 Certificates.

# Description of the issue
I am using the bash linux to generate the CA Identity tutorial shown on the Azure Website support and in this git repository.
I succeed to authenticate and verify the RootCA certificate but the C# Applications (from th

[2017-11-16 18:17] ewertons commented on #232
This issue was originally filed under the azure-iot-sdk-c repo (https://github.com/Azure/azure-iot-sdk-c/issues/301).
It was moved to here and the original was closed.

[2017-11-17 10:21] K47S commented on #85
@ryan-z-johnson Good investigation, but you are using a custom RetryPolicy in your code. We are using:
deviceClient.RetryPolicy = RetryPolicyType.No_Retry;

And this one is still generating MemoryLeaks in the newest version (Windows 7, AMQP_WebSock, nuget version: 1.5.2)...

[2017-11-17 21:23] yzhong94 opened #235 "Outdated links on devbox setup"
These two commands are outdated:

To pull latest code on develop branch you can use following command

git clone -b develop --recursive https://github.com/Azure/azure-iot-sdks.git azure-iot-develop

To clone the master use following command or simply download the .zip from Azure IoT SDK

git clone https://github.com/Azure/azure-iot-sdks.git

[2017-11-17 23:46] ryan-z-johnson commented on #85
@K47S I have pushed a fix to the memory leak issues in pull request #236.

[2017-11-20 00:39] yfakariya commented on #213
@jasmineymlo Although it sounds great, I think the deserialization logic should be forward compatible (setting `CheckAdditionalContent = false`, for example) to prevent future degradation. Is there any plan to add such preventive logic, or unify twin deserializers?

[2017-11-20 22:58] CIPop opened #239 "Microsoft.Azure.Devices.E2ETests.MessageE2ETests.Message_AmqpConnectionLossReceiveRecovery_AmqpWs failed"
Microsoft.Azure.Devices.E2ETests.MessageE2ETests.Message_AmqpConnectionLossReceiveRecovery_AmqpWs failed with

`Test method Microsoft.Azure.Devices.E2ETests.MessageE2ETests.Message_AmqpConnectionLossReceiveRecovery_AmqpWs threw exception:
System.OperationCanceledException: The operation was canceled.`

[code]

[2017-11-20 23:17] #235 closed

[2017-11-21 23:57] tiagoshibata opened #243 "Setting property to null does not always erase it"
- **OS and version used:** Windows 10 Insider Preview (Version	10.0.17035 Build 17035)
- **SDK version used:** 1.5.2

# Description of the issue:
Setting a reported property to null should remove that property, [as I understand from the docs](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-device-twins#back-end-operations). It doesn't in some situations.

# Code sample exhibiting t

[2017-11-22 00:02] tiagoshibata commented on #243
It repros in both reported and desired properties:

![reported](https://user-images.githubusercontent.com/5521887/33103131-581490b6-ced5-11e7-9102-fe9280a527da.png)

![desired](https://user-images.githubusercontent.com/5521887/33103133-5c59413a-ced5-11e7-9152-9286d4aae293.png)

[2017-11-22 18:51] CIPop opened #244 "Correct the usage of await/async within sample code"
- [X] A lot of samples are using Task .Wait() / .GetAwaiter().GetResult() or .Result. We need to replace these instances with proper async/await patterns.
- [ ] Use the samples from https://github.com/Azure-Samples/azure-iot-samples-csharp
- [ ] Add #region snippet1 to outline doc code snippets

[2017-11-22 23:31] adminnz opened #246 "Slim down dependencies by splitting out transport support into separate packages."
At the moment the Micorsoft.Azure.Devices.Client nuget package includes a large number of dependencies.
An new .net core (2.0) console app with Microsoft.Azure.Devices.Client produces a publish output that is 8.6MB!
Taking into account that this entire project is mainly for IoT devices which normally have **VERY limited bandwidth**.
It means deploying an updated application can be incredibly costl

[2017-11-24 09:55] JokerstudioDev opened #247 "System.Net.Sockets.SocketException: The socket has been shut down"
- OS and version used: iOS 11.1

- SDK version used: Microsoft.Azure.Device.Client 1.6.0

# Description of the issue:
I use Microsoft.Azure.Device.Client in Xamarin.iOS. When my iphone become to lock screen then websocked is shutdown automatic my app crashes and internal exception library is "System.Net.Sockets.SocketException: The socket has been shut down". How to handle this problem because i c

[2017-11-27 20:05] CIPop commented on #246
Thanks for opening this @adminnz! We agree this is not ideal and we are already exploring designs to make this possible.
The approach should be similar to the new ProvisioningClient and the ProvisioningTransportHandler concept (very similar to the System.Net.Http.HttpClient design).

Furthermore I also agree with separating features that may not end up being used in all scenarios such as Upload. I

[2017-11-27 20:19] CIPop commented on #247
Most application environments such as Android, iOS and UWP have some mechanism to allow (for limited time in order to conserve battery) running code in the background.
I found the following that may help solve this issue:
* https://developer.apple.com/library/content/technotes/tn2277/_index.html
* https://developer.xamarin.com/guides/ios/application_fundamentals/backgrounding/ios_backgrounding_tec

[2017-11-27 20:19] #247 closed

[2017-11-27 20:24] adminnz commented on #246
That sounds like a possible solution, however with splitting up the clients you would have to ensure there is a single connection to the Iot Hub.
Because like I said before, Iot devices have extremely limited bandwidth/data usage constraints.

For example, to just maintain a connection to the Iot Hub (AMQP_Tcp_Only) for a month will use ~6MB of data.

[2017-11-28 02:37] JokerstudioDev commented on #247
Thank you for your solution.

[2017-11-28 16:01] FinitelyFailed opened #249 "DeviceClient ReceiveAsync doesn't work with Mqtt, Xamarin Android"
I have tried:
Xamarin.Forms Version 2.5.0.91635, but I have tried every version down to 2.3.
Microsoft.Azure.Devices.Client Version 1.4.0,1.5.0, 1.5.1,1.5.2 and 1.6.0-preview.

# Description of the issue:
When I try to receive a message from the IOT-hub I do not get anything when I am using Mqtt, Http1 works fine as well as Amqp.

# Code sample exhibiting the issue:
_iotDeviceClient = DeviceClient

[2017-11-29 23:48] CIPop opened #250 "Increase DotNetty package references to 0.4.7 in IoT Hub Client"
Increase the following to 0.4.7:

[code]

[2017-11-30 19:18] CIPop opened #252 "Intermittent test failures detected in the CI"
Disabling the following tests blocking CI:

[code]

[2017-12-01 03:43] CIPop opened #255 "Provisioning service preview client missing public API documentation"
We cannot enable XML documentation for Provisioning\ServiceClient until all public APIs have been documented.
This is tracking a TODO item within the `Microsoft.Azure.Devices.Provisioning.Service.csproj` file.

[2017-12-01 08:22] zhang-hua opened #257 "Device job query by status of `Completed` or `Cancelled' will fail with InternalServerError"
If the the Device Job query include status value with uppercase string of `Completed` and `Canceled`, it will fail and throw `Microsoft.Azure.Devices.Common.Exceptions.ServerErrorException`:
e.g.
[code]
The other values works: `Pending`  or `pending`, `Scheduled` or `scheduled`, `Running` or `running`, `Failed` or `failed`.

BTW, the query string also failed in IotHub blade on Azure portal.

[2017-12-01 21:32] #252 closed

[2017-12-01 23:31] jasmineymlo opened #259 "FileUploadE2ETests.FileUpload_X509_SmallFile_Http test failed intermittently for NetStandard"
Failed   Microsoft.Azure.Devices.E2ETests.FileUploadE2ETests.FileUpload_X509_SmallFile_Http
Error Message:
 Test method Microsoft.Azure.Devices.E2ETests.FileUploadE2ETests.FileUpload_X509_SmallFile_Http threw exception:
System.NullReferenceException: Object reference not set to an instance of an object.
Stack Trace:
    at Microsoft.Azure.Devices.Client.IotHubConnectionString.Microsoft.Azure.Devic

[2017-12-03 18:22] CIPop opened #263 "AMQP Token doesn't refresh - Intermittently failing : Microsoft.Azure.Devices.E2ETests.DeviceTokenRefreshE2ETests.DeviceClient_TokenIsRefreshed_Ok_Amqp"
[code]

[2017-12-04 10:21] AdamMachera opened #265 "The unobserved exception is fired once operation timeout is reached"
Windows 10
DeviceClient 1.5.2

If I send data to IotHub and at some point enable firewall rule that blocks AMQP ports I'm getting following exception

Message val-0 was sent
Message val-1 was sent
Message val-2 was sent
Message val-3 was sent
Message val-4 was sent
Message val-5 was sent
Message val-6 was sent
Message val-7 was sent
System.TimeoutException: Operation timeout expired.
   at Microso

[2017-12-05 17:54] stefan2410 opened #269 "TwinCollection, parameter in constructor"
In Azure.Device.Client v.1.6.preview-001  in the TwinCollection's constructor I could pass a json string as parameter. In the last update  v.1.6.0.0  the constructor has not parameters. Existing code is broken. Is this by design?

[2017-12-05 22:21] PureWeen opened #270 "VS 15.5 Mono Linker throws NullReferenceException when trying to link on Xamarin.Andoird"
[AzureDeviceClient.zip](https://github.com/Azure/azure-iot-sdk-csharp/files/1533169/AzureDeviceClient.zip)

Windows 10 and iOS

I'm using the latest 1.6.0 but the same issues exists with 1.5.2

# Description of the issue:
Compiling Xamarin android with full linking on causes the following exception

Severity	Code	Description	Project	File	Line	Suppression State
Error		The "LinkAssemblies" task fail

[2017-12-05 22:47] PureWeen commented on #270
I tried stepping through it a little bit with windbg and it seems like it chokes on BufferedInputStream when it's trying to match up properties with interfaces

https://github.com/mono/linker/blob/e4dfcf006b0705aba6b204aab2d603b781c5fc44/linker/Mono.Linker.Steps/TypeMapStep.cs#L158

seems to return a null value that gets passed into
[code]

[2017-12-06 19:33] PureWeen commented on #270
It seems like these being netstandard1.3 + the ICloneable fake out in AMQP + me using netstandard2.0 = Not Happy Linker

I pulled down this and the AMQP project and just changed the Netstandard libraries over to 2.0 and removed ICloneable from the NETSTANDARD typedef since ICloneable is part of the Netstandard2.0 spec

I also had to do this
https://github.com/aspnet/EntityFrameworkCore/issues/8922

[2017-12-07 19:11] jasmineymlo opened #273 "update doc with Linux box set up information"
https://www.microsoft.com/net/learn/get-started/linuxubuntu

https://github.com/PowerShell/PowerShell/blob/master/docs/installation/linux.md#ubuntu-1604

https://help.ubuntu.com/lts/serverguide/git.html

[2017-12-07 20:33] CIPop commented on #257
@zhang-hua According to https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-query-language only the property names are case insensitive. There isn't anything specifying that values (such as `completed` or `canceled`) should be case insensitive.

You may need to use `UPPER()` or `LOWER()` if case insensitive searches are required.

Closing as by design since this failed in the Azure Por

[2017-12-07 20:33] #257 closed

[2017-12-07 20:37] CIPop opened #274 "Add ProvisioningClient MQTT keep-alive pings"
Tracking comment from https://github.com/Azure/azure-iot-sdk-csharp/pull/248#discussion_r153377316

[2017-12-07 20:37] CIPop commented on #274
@nberdy @tameraw We should triage this feature and ensure all SDKs have the same level of support.
/cc @rajeevmv @simonporter .

[2017-12-07 20:46] CIPop commented on #259
This is failing on NetCore E2E runs only.

[2017-12-07 20:53] CIPop commented on #270
Thanks @PureWeen  for reporting the issue and the __solution__!
I'd need more time to understand why we need `ICloneable` in NetStandard. If we can remove it, this should fix the netstandard1.3 build. If not, we can at least build netstandard2.0 as well for Android support.

@tameraw @jasmineymlo

[2017-12-07 20:53] grtn316 opened #275 "Could not load file or assembly 1.6.0 for .NET Framework"
I tried updating the device client and am getting this error now:

Unhandled Exception: System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation. ---> System.IO.FileLoadException: Could not load file or assembly 'DotNetty.Codecs.Mqtt, Version=0.4.7.0, Culture=neutral, PublicKeyToken=bc13ca065fa06c29'. The located assembly's manifest definition does not

[2017-12-07 21:01] CIPop commented on #269
@stefan2410  `v1.6.0-preview-001` is the modules preview release from https://github.com/Azure/azure-iot-sdk-csharp/tree/modules-preview and may contain new APIs.

That said, v1.6.0 is not the release of this preview but the release of the Provisioning Device Client.

Note that public APIs present within -preview releases are subject to change.

/cc @tameraw @varunpuranik @damonbarry @yzhong94

[2017-12-07 21:02] CIPop commented on #269
Closing as by design: the new preview API has not yet been released.

[2017-12-07 21:02] #269 closed

[2017-12-07 21:05] CIPop commented on #265
Thanks for reporting @AdamMachera. I've tagged this to point out that further investigation is needed to root-cause the issue and that we welcome external contributor support.

[2017-12-07 23:43] nberdy commented on #274
@yzhong94 FYI

[2017-12-08 02:03] zhang-hua commented on #257
@CIPop thanks for your feedback!

[2017-12-08 03:15] stefan2410 commented on #269
Then something in Nuget is wrong.

Version | Downloads | Last updated

1.6.0 (current version) | 267 | 3 days ago
1.6.0-preview-001 | 1,550 | 24 days ago
1.5.2 | 7,114 | a month ago

Really I did not understand a bit  of your answer.

[2017-12-08 03:35] stefan2410 opened #278 "Version policy for preview NuGet packages"
Nuget  proposes update of Microsoft.Azure.Devices.Client from 1.6.0-preview-001  to 1.6.0.
I updated and  there are  changes in API  from 1.6.0-preview-001  (TwinCollection in my case)
and  exceptions in Service Fabric application for dependencies.
Should I update or not?

Version | Downloads | Last updated

1.6.0 (current version) | 267 | 3 days ago
1.6.0-preview-001 | 1,550 | 24 days ago
1.5.2 |

[2017-12-08 19:33] CIPop commented on #278
You should not update if you're experimenting with preview features.
What do you mean by "Nuget proposes update"? Could you please add a screen-shot?

@tameaw @jasmineymlo - This is the confusion we've talked about offline: 1.6.0 release should be the release of 1.6.0-preview. In the future, we could instead allocate a higher number for -preview maybe?

[2017-12-08 21:32] stefan2410 commented on #278
![deviceclient](https://user-images.githubusercontent.com/1259393/33785993-0c8b14d2-dc70-11e7-8cd9-57d3e844d89e.PNG)

[2017-12-08 22:13] CIPop commented on #85
I’ve isolated two issues linked to the leak and have a workaround until we derive a proper fix on our side:

[code]

I’ve tested this with @K47S 's repro but over MQTT (TCP with WS fallback) for 1-2 hrs and did not notice any increase in memory (heap remained around 300k compared with 2MB growth in under 2 minutes before). (Note that WebSockets are handled differently in Win7 vs Win8+.)

@JochenKa

[2017-12-08 22:49] damonbarry commented on #269
@stefan2410 If a package is published with version 1.6.0-preview-001, and then a package comes along with version 1.6.0, it's very normal to assume that the latter package is the stable version of the former, and in fact that's usually the case.

But in this case, things happened a little differently. Some new functionality (specifically, support for "modules" needed by [Azure IoT Edge](https://do

[2017-12-08 23:09] stefan2410 commented on #269
@damonbarry  thanks for the explanation.
We need the new functionality and this is the reason that we use the preview release. Of course, I know that changes happen in preview features, but as I understand this is not the case and  I should not change  our code. Simply I should re-install the 1.6.0-preview-001 and wait for the 1.7.0-preview-001.
The problem with Nuget probably  creates confusion,

[2017-12-11 09:53] IanLin419 opened #281 "Recently Azure Function involved Azure.Devices 1.4.1 got error, "Could not load file or assembly 'Microsoft.Azure.Amqp, Version=2.0.0.0""
- **OS and version used:**
--> Azure Functions
- **SDK version used:**
--> Microsoft.Azure.Devices": "1.4.1

# Description of the issue:
The function app use Microsoft.Azure.Devices 1.4.1 failed. There is no problem from Sept until 22 Nov.

Scenario:
   The service conduct C# on Azure Functions by httptrigger and attempt connect to Azure Iot Hub then.

Error message:
    "Could not load file or as

[2017-12-11 15:28] henrikstromberg commented on #275
I get the same error. I event tries to add DotNetty.Codecs.Mqtt, Version=0.4.7.0 nuget my self.
Running .net core 2.0.

[2017-12-11 15:54] adamkjonesmesh commented on #275
I just pulled down and installed 1.6.0 and received the exact same error.  Reverted back to 1.5.2 and everything works.

[2017-12-11 20:02] anhashia commented on #232
Hi @domenicoamelino

There are 2 scenarios here. Detailed steps are located at
https://github.com/Azure/azure-iot-sdk-c/blob/master/tools/CACertificates/CACertificateOverview.md

Scripts are located at
https://github.com/Azure/azure-iot-sdk-c/tree/master/tools/CACertificates
These scripts are for testing and **demonstration** purpose only

**Scenario 1**
Setup : **Windows 10** using PowerShell (PS

[2017-12-11 20:03] anhashia commented on #232
https://github.com/Azure/azure-iot-sdk-java/issues/182

[2017-12-11 21:35] CIPop commented on #278
Thanks @stefan2410 !

@jspaith, @tameraw we need to reconsider our versioning practices in such a way that NuGet doesn't recommend upgrading until we have actually released the `-preview` feature.

[2017-12-11 21:43] varunpuranik opened #282 "DotNetty version conflict between Microsoft.Azure.Devices.Client.NetStandard.csproj and Microsoft.Azure.Devices.Client.nuspec"
Microsoft.Azure.Devices.Client.nuspec references DotNetty version 0.4.6
<dependency id="DotNetty.Codecs.Mqtt" version="0.4.6" />
<dependency id="DotNetty.Handlers" version="0.4.6" />

Where as Microsoft.Azure.Devices.Client.NetStandard.csproj references Dotnetty version 0.4.7
<PackageReference Include="DotNetty.Codecs.Mqtt" Version="0.4.7" />
<PackageReference Include="DotNetty.Handlers" Version="

[2017-12-12 23:13] CIPop commented on #282
Thanks @varunpuranik for reporting. This is a duplicate of #275.

[2017-12-12 23:13] #282 closed

[2017-12-12 23:16] CIPop commented on #275
Thanks for reporting @grtn316 and for confirming @henrikstromberg and @adamkjonesmesh .  This should only happen for .NET Framework and not .NET Core / Standard.
Looks like there's an issue with our NuSpec for .Net 4.6. As a workaround please manually reference the DotNetty.Codecs.Mqtt version=0.4.7.0 in your application.

The fix will come in 2 steps:
1. Fix the nuspec and regenerate packages tha

[2017-12-13 02:05] CIPop commented on #192
/cc @yzhong94 From the service side changing this would be a breaking change.

@aribeironovaes Are you able to create a device using the alternate [DeviceClient.Create ](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.devices.client.deviceclient.create?view=azure-dotnet#Microsoft_Azure_Devices_Client_DeviceClient_Create_System_String_Microsoft_Azure_Devices_Client_IAuthenticationMethod

[2017-12-13 13:12] MartinKutz opened #286 "In .Net Framework: Microsoft.Azure.Devices.Shared could not be found."
- **OS and version used:** Windows 10

- **SDK version used:** <VERSION> .Net Framework 4.7

# Description of the issue:
We want to use the Azure Device Provisioning Service with X509 Certificate. Under .Net Core 2.0 everything is working fine. If I use .Net Framework 4.7 (lower versions also tried), the assembly 'Microsoft.Azure.Devices.Shared' could not be loaded. The assembly is installed witho

[2017-12-13 21:19] oldblindman opened #288 "MQTT OnMessageReceived unknown exception"
A gateway service connecting the Azure Cloud to a robot
- **OS and version used:** <VERSION> Windows10 Pro latest version

- **SDK version used:** <VERSION> 5ebc5bf

# Description of the issue:

After running 24 to 38 hours we get an unknown thread exception deep in the kernel that occurs in the following code:  https://github.com/Azure/azure-iot-sdk-csharp/blob/master/device/Microsoft.Azure.Devic

[2017-12-13 23:00] CIPop commented on #288
Thanks for reporting this @oldblindman! Feel free to submit a PR containing the fix.

I assume that shouldn't be sufficient unless the error is handled somewhere else already. Is your connection retried/faulted after this exception?

[2017-12-13 23:08] oldblindman commented on #288
Yes. It retries, and everything works fine. We have run it for five days without any errors.

Gene

Gene A. Grindstaff
Executive Subject Matter Expert, SG&I
T: 1.256.730.6983 M: 1.256.566.5376 F: 1.256.730.1717
E: mailto:gene.grindstaff@HexagonSI.com

Hexagon Safety & Infrastructure
305 Intergraph Way
Madison, AL, 35758
hexagonsafetyinfrastructure.com | LinkedIn | Facebook | Twitter
______________

[2017-12-14 03:22] CIPop opened #290 "IoT Hub DeviceClient retry logic problems"
- **OS and version used:** All

- **SDK version used:** DeviceClient

# Description of the issue:

- [ ] The RetryLogic will always throw TimeoutException instead of any of the exceptions.
This doesn't allow the application to understand cases such as media failure (Ethernet cable unplugged).
This also exposes developers to the danger of an operation never terminating and potential memory leaks if

[2017-12-14 10:13] noorrocks opened #291 "https://github.com/Azure/azure-iot-sdk-csharp/blob/master/dotnet-api-reference missing in readme.md doc"
- **OS and version used:** <VERSION>

- **SDK version used:** <VERSION>

# Description of the issue:

# Code sample exhibiting the issue:

# Console log of the issue:

[2017-12-14 20:09] CIPop commented on #291
The correct link should be : https://docs.microsoft.com/en-us/dotnet/api/overview/azure/iot?view=azure-dotnet

[2017-12-14 22:10] dvescovi1 opened #292 "Device Explorer needs copy and paste from Data window"
Windows

- **OS and version used:** <VERSION>
Windows 10
- **SDK version used:** <VERSION>
12/2017

# Description of the issue:

Really would like the ability to "Copy" from the Monitor "Event Hub Data" data window.
or the ability to output to file. That way I can use it to create a test file I can use to test my Stream Analytics query.
# Code sample exhibiting the issue:

# Console log of the iss

[2017-12-14 22:23] dvescovi1 commented on #292
never mind ...figured it out

[2017-12-14 22:23] #292 closed

[2017-12-15 13:13] Stromberg opened #295 "Publish CancellationToken for Async methods"
The OperationTimeoutInMilliseconds on DeviceClient is good as it hinders methods from hanging forever but it is also quite limited in comparison to what is flexibility possible with CancellationTokens with possibilities for distributed cancellation etc.

I propose following the guidelines for async task APIs and allow for the provision of a CancellationToken.

Example:

OpenAsync(CancellationToken

[2017-12-17 15:57] noorrocks commented on #291
Thanks CIPop

[2017-12-18 20:55] CIPop commented on #85
After reverting the code altering the maximum number of retries I've observed that 8% of the requests were never cancelled.
This was caused by a race condition between the cancellationToken getting cancelled and cancellationTokenSource being disposed. If the cts got disposed, the TransientFault code would keep throwing and retrying without actually executing the operation. Removed the cts dispose

[2017-12-18 22:43] #85 closed

[2017-12-19 07:14] mathisharp opened #301 "Getting Operation timeout expired exception frequently while sending telemetry data"
Hi SupportTeam,

We are using DeviceClient of Azure IOT hub to send data to device.

- **OS used:** <VERSION> Windows 10

- **Protocol used:** <VERSION> Amqp_WebSocket_Only

- **SDK version used:** <VERSION> IoT Device Client 1.5.0

- **programming language used:** <VERSION> C#

- **IOThub Units:** <VERSION>  20 units

- **Quota/Standard:** <VERSION>  S1

- **DeviceConnected:** <VERSION> 75

- **D

[2017-12-19 19:38] CIPop opened #302 "AMQP WebSocket Tests failing with TimeoutException when the target is NetCoreApp2.0"
[code]

[code]

[2017-12-19 20:39] CIPop commented on #301
/cc @yzhong94

Thanks for reporting this @mathisharp. When you say "sudden" you mean that the retry policy (default or custom) that you are using is not respected?

Did you upgrade the SDK version before this started? Otherwise this could be something on the server side, in which case you will need to use the Azure Portal to report the issue through customer support. Please __do not__ share any hu

[2017-12-19 20:44] CIPop commented on #295
Completely agree!

@yzhong94 @tameraw @jasmineymlo

[2017-12-19 20:51] CIPop commented on #295
This is not very simple to implement as I've found while investigating #85. While it appears that the tokens are flowing down our transport pipeline I've seen the following issues:
1. The transport layer for MQTT doesn't properly handle cancellations today. For safety, we're allowing the transport to run in the background, after the application received the completion based on OperationTimeoutInMi

[2017-12-19 20:59] CIPop commented on #286
Thanks @MartinKutz . I'll give this a try.

It looks like the existing packages have several nuspec issues.

[2017-12-19 21:11] CIPop commented on #278
I have 2 recommendations (further discussion is required):

1. Use preview versions such as 0.9.n-preview for features where the preview period is long (either no ETA or ETA is >2 weeks). The downside is that an upgrade will always be offered although most people will not take a dependency on the -preview since it starts as a lower version than the current version.
2. Reserve preview versions. E.g

[2017-12-19 21:16] CIPop commented on #281
Thanks for reporting @IanLin419 !

The assembly version and the NuGet versions are usually not the same. I'll take a look at this issue. I believe it's caused by nuspec running out of sync.

[2017-12-19 21:17] CIPop commented on #250
This is causing #275.

[2017-12-20 17:06] sergaz-msft commented on #301
@CIPop This issue is also being tracked by CSS. Customer opened a ticket through Azure Portal. I will add you to the email thread.

[2017-12-20 20:29] CIPop commented on #263
Just hit this on Linux Ubuntu 16.04 (real machine)

[code]

[2017-12-21 00:19] CIPop opened #307 "ProvisioningServiceClient X509 tests fail on Linux / Ubuntu 16.04"
We're hitting https://github.com/dotnet/corefx/issues/16029
@mamokarz pointed out this same certificate works well for our Java SDK on both Linux and Windows.

(49 tests failing:)

AttestationMechanism_Constructor_ThrowsOnAttestationNull

[code]

[2017-12-21 12:21] mathisharp commented on #301
@CIPop
• Could you please share the information on how you've reached the conclusion this was not done by the quota? (https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-quotas-throttling)
The total number of active devices were less than 10 and each device was sending 11 requests per second. All messages were of size ~16KB. Also we are not seeing any throttling errors reported on the

[2017-12-22 04:45] #138 closed

[2017-12-22 08:52] mathisharp commented on #301
[Issue.zip](https://github.com/Azure/azure-iot-sdk-csharp/files/1581974/Issue.zip)
Hi @CIPop,
We are able to reproduce the issue as said earlier below are the details.

Case:
•	We have only device in the IOT hub.
•	IOT hub units is set to 10.
•	Sending 10 messages per second of size 16 kB.
•	Once the application is started after 5 to 10 minutes getting operation timeout expired exception.

Environ

[2017-12-22 09:13] CIPop commented on #212
Fixed by #308.

[2017-12-22 09:13] #212 closed

[2017-12-22 09:36] CIPop commented on #281
@IanLin419 please try again with our [latest release](https://github.com/Azure/azure-iot-sdk-csharp/releases/tag/2017-12-21). I have upgraded the AMQP reference to the latest version of their NuGet package.

[2017-12-22 09:36] CIPop commented on #307
Fixed by #308.

[2017-12-22 09:36] #307 closed

[2017-12-22 09:37] CIPop commented on #286
This should be fixed by #309. Please try again using the latest release.

[2017-12-22 09:37] #286 closed

[2017-12-22 09:37] CIPop commented on #275
Should be fixed by #308.

[2017-12-22 09:37] #275 closed

[2017-12-22 09:38] CIPop commented on #250
Fixed by #308.

[2017-12-22 09:38] #250 closed

[2017-12-23 12:34] labiraus commented on #259
This bug makes the library unusable for x509 authentication with file upload and can be traced to device/Microsoft.Azure.Devices.Client/Transport/HttpClientHelper.cs line 73 (constructor) and 415 (ExecuteAsync).
When the constructor finds itself in a uwp, plc or netstandard1.3 (for core) it ignores whether you have a certificate - so when you get to ExecuteAsync you skip over using the certificate

[2017-12-23 12:38] labiraus commented on #232
This may be linked to the comment I just made on #259
If you're running .net core with a X509 certificate, you can't upload files, only in .net.

[2017-12-27 03:38] KiwiBryn opened #310 "UWP Application NuGet upgrade from 1.6.0 to 1.6.1 fails"
Hi

I'm building background application for Windows 10 IoT core and found I couldn't upgrade NuGet package Microsoft.Azure.Devices.Client; from version 1.6.0 to 1.6.1

Figured problem was most probably in my code so I went back to

https://github.com/ms-iot/samples/tree/develop/Azure/HelloCloud.Headless

For a working example but this failed as well.

What am I missing?

@KiwiBryn

From the output

[2017-12-29 19:37] skyflyer opened #313 "Can't use SDK from Service Fabric"
- **OS and version used:** Windows 10 and Azure Service Fabric

- **SDK version used:** Microsoft.Azure.Devices 1.5.0  (latest from NuGet)

# Description of the issue:
I have configured IoT hub to forward messages to ServiceBus queue, where messages get processed. The worker then uses IoT Hub SDK to send messages to devices. While initializing the IoT hub client, it fails with the following except

[2017-12-30 00:24] mmu69 opened #314 "Could not load file or assembly 'System.Runtime, Version=4.2.1.0"
- **Raspberry PI 3 10.0.16299.125->

- **SDK version used:** <Microsoft.Azure.Devices.Client 1.5.0 ... 1.6.0>

# Description of the issue:
Build and deploy without issues, error at runtime at DeviceClient.Create

# Code sample exhibiting the issue:

using Microsoft.Azure.Devices.Client;
deviceClient = DeviceClient.Create(iotHubUri, new DeviceAuthenticationWithRegistrySymmetricKey(deviceName, devic

[2018-01-01 14:29] IotCore-Developer opened #315 "[UWP] Compile to .net native ---> application crash"
Windows 10 fall creator
SDK fall creator

Client devices 1.6.1

When I include package version 1.6.1 and then compile using .net native i can't run my application anymore.
Entry point not found is the error.

including the package is enough to get this startup error.

[App4.zip](https://github.com/Azure/azure-iot-sdk-csharp/files/1596110/App4.zip)

[2018-01-03 03:05] meomeo0110 opened #317 "The different message of DeviceNotFoundException"
Hi all;

When using the Direct Method, I met the DeviceNotFoundException with different message:

1. Message: Timed out waiting for device to connect
2. Message: NotFound
3. Message: Device unavailable

Can you tell me whether the root cause of these messages same? If not, what is possible root cause?
I searched but I cannot find the document..
Sorry for my bad English

OS: Window
Version: Microso

[2018-01-03 18:09] mamokarz opened #318 "Websockets tests was Ignored on IoTHub Service Client"
Most of the Web socket tests for the IoTHub Service Client are masked to be Ignored. It must be fixed and re-enabled.

[2018-01-04 03:14] ksaye opened #319 "AMQP TokenRefresh will randomly fail to re-initiate the CBS link"
.Net Core
OS:  Ubuntu 16.04.1 or Windows 10.0.16299.192
SDK: 1.6.1

After ~220 minutes calling a registered method I get the error "Not Registered" on Ubuntu or Windows. I am calling this method every 15 minutes but after ~220 minutes I get this error.

Using the following code:

using Microsoft.Azure.Devices.Client;
using System;
using System.Text;
using System.Threading;
using System.Threading.T

[2018-01-04 04:36] man2nainwal opened #320 "Not able to monitor device events"
Hi all,
I am using Azure Edge V1 with Ubuntu, I have created 1 IoT Hub with the name say X and then created 2 Devices say dev1 & dev2. After that I changed simulated_device_cloud_upload_lin.json file.
modules:
IotHub - "args": {
"IoTHubName": "X",
"IoTHubSuffix": "azure-devices.net",
"Transport": "MQTT",
"RetryPolicy": "EXPONENTIAL_BACKOFF_WITH_JITTER"}

       mapping - "args": [
    {
      "mac

[2018-01-04 07:22] ponsakthi opened #321 "Error while opening the device connection"
**OS and version used:** Windows 10

 **SDK version used:** Microsoft.Azure.Devices.Client 1.5.0

We are using Amqp_WebSocket_Only as Transport Type. While opening the connection, an exception is thrown intermittenlty.

Code:
`deviceClient.OpenAsync()`

Exception:
` System.IO.IOException: The encryption operation failed, see inner exception. ---> System.ComponentModel.Win32Exception: The context h

[2018-01-04 13:05] skyflyer commented on #313
Found out what was going on. It is all related to dotnet/standard#328 and dotnet/standard#481.

The `System.Net.Http` assembly that the SDK lib depends on wasn't properly resolved. I removed automatically generated binding redirects, added a custom binding redirect to use the platform's `System.Net.Http` assembly and referenced platform's assembly in the service project. It now works in Service Fa

[2018-01-04 13:05] #313 closed

[2018-01-04 17:18] jasmineymlo commented on #310
I tried to repro by upgrading the UWP sample from 1.6.0 to 1.6.1 and it works fine.  I have both 10.0.16299.0 and 10.0.15063.0 Windows 10 SDK for UWP installed...not sure if an upgrade on VS will help with your issue... Try with our sample to do an upgrade on your machine to see how it looks like.

[2018-01-04 18:05] jasmineymlo commented on #314
Just to make sure that the target version of your project has the correct one (16299)?
"SDK version used: <Microsoft.Azure.Devices.Client 1.5.0 ... 1.6.0> "  Do you mean you are trying to upgrade from 1.5.0 to 1.6.0 and find this issue?  Was it all fine with 1.5.0?  Thanks.

[2018-01-05 00:05] jasmineymlo commented on #315
I downloaded the app provided and am able to run it.  I build it on x64 debug.  Do I need to modify anything on the project to get a repro?

[2018-01-05 03:02] cameronphillips commented on #314
Had exactly the same issue...set your Target and Minimum Versions to Build 16299 in Properties > Library, you should be able to build and deploy assuming this is UWP.

[2018-01-05 03:41] JokerstudioDev opened #323 "Error while add package v.1.6.1 to xamarin.forms"
**OS and version used:** macOS High Sierra

**SDK version used:** Microsoft.Azure.Devices.Client 1.6.1

while we add package to xamarin.forms. , an error message is

"Could not install package 'System.Threading.Overlapped 4.3.0'. You are trying to install this package into a project that targets 'Xamarin.iOS,Version=v1.0', but the package does not contain any assembly references or content files t

[2018-01-05 18:18] jasmineymlo commented on #317
These error messages are populated from the service.  I am checking with the service side folks and will report back when I get the answer.  Thanks.

[2018-01-06 01:00] tameraw commented on #301
Issue resolved.

[2018-01-06 01:00] #301 closed

[2018-01-07 05:09] #323 closed

[2018-01-08 00:54] KiwiBryn commented on #310
Hi

I found the issue when doing RPI deployments, will try repro to this evening

Bryn

From: jasmineymlo [mailto:notifications@github.com]
Sent: Friday, 5 January 2018 6:19 AM
To: Azure/azure-iot-sdk-csharp <azure-iot-sdk-csharp@noreply.github.com>
Cc: Bryn Lewis <bryn.lewis@devmobile.co.nz>; Author <author@noreply.github.com>
Subject: Re: [Azure/azure-iot-sdk-csharp] UWP Application NuGet upgrad

[2018-01-08 12:08] domenicoamelino commented on #232
@anhashia. Thanks, the problem was related to the installation of PowerShell/Unix Terminal certificate in Windowa 10. In order to use the C# Azure test application the CA generated certificates have to be installed in the operating system.

Thank you for the support.

[2018-01-08 15:25] IotCore-Developer commented on #315
Hi

You need to build release (.net Native) startup then fails.

Thx

On Friday, January 5, 2018, jasmineymlo <notifications@github.com> wrote:

debug. Do I need to modify anything on the project to get a repro?

https://ci5.googleusercontent.com/proxy/zYhQJdzDg0K4yShw48TWWGaeB61AFfsMljYGdMzGNQDh9CKYa8EQeWa_0a5GctgpKmAgc7HK86zA-zFcWPUXKpIqWs0hDiL33pxK03uCXXuWR35QpwcpWvWmIA1QWimhBTsbMOk_jAu8j1tKq2z

[2018-01-08 18:46] anhashia commented on #232
Hi @domenicoamelino Yeah, that is correct :-)

[2018-01-08 20:32] grtn316 opened #324 "IoT Edge v2 - Not showing connected"
Hello,

I have iot edge version 2 running in ubuntu. When navigating to the "Management" tab, the device shows disconnected and does not display a lastactivitytime or lastconnectionstateupdatedtime. When I switch to the "Data" tab, I can see data coming in.

Any ideas what could be going on?

[2018-01-08 21:05] IotCore-Developer commented on #315
KEY_VALUES_STRING: 1

    Key  : CLR.System.IO.FileNotFoundException._fileName
    Value: System.Private.CoreLib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a

    Key  : CLR.System.IO.FileNotFoundException._message
    Value: Could not load file or assembly 'System.Private.CoreLib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies.

[2018-01-08 21:12] jasmineymlo commented on #317
@meomeo0110,

Message: Timed out waiting for device to connect
==> device is not connected during the specified timeout while method request arrives at the service.
Message: NotFound
==> device is not registered
Message: Device unavailable
==> device initiates disconnect

Thanks.

[2018-01-08 21:34] jasmineymlo commented on #315
@IotCore-Developer, it repro with Release build.  We will take a look at it.  Thanks for filing the issue.

[2018-01-09 02:49] CIPop commented on #281
Tentatively closing this. @IanLin419 please reopen if this still repros with the latest release.

[2018-01-09 02:49] #281 closed

[2018-01-09 02:53] CIPop commented on #259
Thanks @labiraus for identifying the issue! Feel free to submit a PR with the change that also re-enables the test.

If you'd like to make this change, start by Fork-ing this repo then cloning the fork on your machine. After you push the change to your fork, you will be able to create a Pull Request (using the GitHub website).

[2018-01-09 02:57] CIPop commented on #318
@mamokarz please add (at least a few) test names.

I've tried to keep most of the tests disabled tracked with GitHub issues.  Are these already tracked with a TODO?

[2018-01-09 05:22] traghunathan commented on #301
@tameraw  Do this issue handled in the latest release 1.6.1?

[2018-01-09 11:03] Banchio opened #325 "Support compressing byte array in the message"
It would be very useful to have an overload of the DeviceClient that perform the compression of the byte[] included in the message. Is it in the timeline?

[2018-01-09 11:21] sergaz-msft commented on #301
Hello @traghunathan , that's correct. We fixed a leak and a few issues with the retry policy implementation.

[2018-01-09 13:58] IotCore-Developer commented on #315
Thank you

I also placed a comment concerning the details.

Best regards

On Monday, January 8, 2018, jasmineymlo <notifications@github.com> wrote:

it. Thanks for filing the issue.

https://ci5.googleusercontent.com/proxy/RBhdqVHJjWAh1L2D-UyEUz1T3Ne4u46ipgeflWtAbCKepKatZPnW3eeVmufAOKkDHW9K6hF7KEqCmdMDhvV_ThKljdxRHbgwMiLNW74E33czRJlhBkDQ6tajqVhdoGbNxXGkdZ7IyVeas13SHiTLiKaBjS7Kfw=s0-d-e1-ft#https:/

[2018-01-09 22:07] ksaye commented on #319
Update:  It would appear that this happens on .Net Core and .Net Standard.

The issue appears to be during retry.  When a connection is retried, it appears that the registered MethodHandler and the ConnectionStatusChangesHandler are lost.

Simple to reproduce:

1. Create a client and register a Method Handler and a ConnectionStatusChangesHandler
2. Disconnect the network and reconnect
3. Note the

[2018-01-10 00:14] CIPop commented on #319
Thanks for the investigation @ksaye ! Did you try on .NET Framework as well (are you sure it's specific to Core)?

Also, if you already have the code fix, feel free to submit a PR.

[2018-01-10 00:18] CIPop commented on #197
External issue: https://github.com/Azure/azure-amqp/issues/87

We need to wait for an updated NuGet for AMQP.

[2018-01-10 00:56] CIPop commented on #317
@jasmineymlo @yzhong94 who would know more about these error codes and where should they be documented? (I wasn't able to find the direct method REST documentation.)
Once that is documented, we could add a reference to the messages here: https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.devices.client.exceptions.devicenotfoundexception?view=azure-dotnet

[2018-01-10 01:10] CIPop commented on #314
Note that with the v1.6.1 release, the minimum version required for UWP is `10.0.16299.0`.
I've updated several dependencies in the latest release. Could you give that a try?

[2018-01-10 01:15] CIPop commented on #313
Thanks for documenting this workaround @skyflyer !
@davidsh @karelz FYI

[2018-01-10 01:37] CIPop commented on #321
This seems to be a security exception from Schannel: SEC_E_CONTEXT_EXPIRED (https://msdn.microsoft.com/en-us/library/windows/desktop/aa375390(v=vs.85).aspx) within SslStream which is used by System.Net.WebSockets.

Could you give us more details regarding:
* OS SKU (Client / Server / IoT)
* .NET Version (from the stack, I assume this is .NET Framework)
* Is the System Clock automatically synchroni

[2018-01-10 01:38] CIPop commented on #321
/cc @davidsh

[2018-01-10 01:42] CIPop commented on #320
@damonbarry @varunpuranik @myagley PTAL

[2018-01-10 01:42] CIPop commented on #324
@damonbarry @varunpuranik @myagley PTAL

[2018-01-10 01:44] CIPop commented on #317
The REST docs are here: https://docs.microsoft.com/en-us/rest/api/iothub/devicetwinapi/invokedevicemethod

[2018-01-10 03:36] IanLin419 commented on #281
Hello CIPop,
Thanks for your advice. The problem was resolved.

[2018-01-10 05:43] ZingPow commented on #310
On my Raspberry Pi device using 1.6.0 this works

var messageString = JsonConvert.SerializeObject(telemetryDataPoint);
var message =  new Message(Encoding.ASCII.GetBytes(messageString));
await _deviceClient.SendEventAsync(message);

but in 1.6.1 you get two reference errors

CS7069	Reference to type 'Stream' claims it is defined in 'System.Runtime', but it could not be found
CS7069	Reference to ty

[2018-01-10 14:01] Draczech opened #329 "mqtt-dup property handling"
# Setup Description
In my company's setup we use set of services (written in Java + Spring) running as Docker swarm containers. One of these services takes care of processing messages from IoT Hub, augmenting them and dispatching them to their respective destinations (mostly Service Bus queues).

When an event is read from IoT Hub, it is read by [Event Processor Host](https://github.com/Azure/azur

[2018-01-10 16:43] karelz commented on #313
I would expect automatically generated bindings to work properly.
@skyflyer do you know how to get into the "bad state" with VS projects? (ideally starting with a HelloWorld style app/lib) I'd be interested to dig deeper into it, if it is not one off.

[2018-01-10 19:37] damonbarry commented on #324
From your description, it sounds like you're using [Device Explorer](https://github.com/Azure/azure-iot-sdk-csharp/tree/master/tools/DeviceExplorer), which has not been updated yet with features for IoT Edge. The reason you're seeing ConnectionStatus=Disconnected and no Last*Time is because IoT Edge runtime never connects as the _device_; it connects as the Edge Hub and/or Edge Agent _modules_. Si

[2018-01-10 21:12] FilipVanRaemdonck commented on #265
I do have the same behaviour, and it's very difficult to catch this error. I there a fix for this error already?

[2018-01-10 22:25] CIPop commented on #265
@FilipVanRaemdonck I've tried reproing this with 1.6.1 and [Clumsy](http://jagt.github.io/clumsy/) (set to Drop 100% for port 5671) and got the exception on the right Task completion and the app was able to continue several times:

[code]

I've modified the code above to ensure I'm not getting an UnobservedTaskException:

[code]

@AdamMachera @FilipVanRaemdonck Can you still repro using 1.6.1?

[2018-01-11 01:15] KiwiBryn commented on #310
That's what I was getting with 1.6.1+ a lot of messages like this (Build & deploy to RPI was fine with 1.6.0)

Warning		Found conflicts between different versions of "System.Runtime.InteropServices.RuntimeInformation" that could not be resolved.

[2018-01-11 05:28] skyflyer commented on #313
@karelz, I was using VS 2017 (latest update) and:

1. File -> New Project -> Console project (first it was .NET 4.6.1, later on 4.7.1)
1. Then added a bunch of NuGet packages for Microsoft.Configuration (to configure via JSON file), Microsoft.Devices, Serilog, etc.). The list is below.
1. Build and run locally, where it worked.  (which is strange)
1. It failed on Service Fabric.

The packages I ad

[2018-01-11 12:45] AdamMachera commented on #265
it is still happening in version 1.6.1 if I disable traffic on AMQP ports.
I was using this rule to block traffic to IotHub and didn't modify connection timeout to IotHub

![image](https://user-images.githubusercontent.com/9037341/34826099-87951d06-f6d5-11e7-925d-0365a170a3b7.png)

[2018-01-11 18:29] mwotruba opened #330 "sample of device registration against enrollment group missing"
Hi there,
I would like to build a device client that uses the provisioning device client.
My client is written in C# and should use a X509 leaf cert for authentication against an enrollment group.
I created the test certs in the way described here (https://github.com/Azure/azure-iot-sdk-c/blob/master/tools/CACertificates/CACertificateOverview.md)

If I follow your documentation (https://github.com

[2018-01-11 21:20] jasmineymlo commented on #310
@KiwiBryn The latest release (1.6.1) has support for UWP SDKs 10.0.16299.0 and above only. This allows us to rely on the .Net Core 2.0 implementation which adds a number of missing APIs and fixes a lot of issues for UWP. (<TargetPlatformMinVersion>10.0.16299.0</TargetPlatformMinVersion>)
The latest Windows IoT Core is at the same version: https://developer.microsoft.com/en-us/windows/iot/Downloads

[2018-01-12 11:41] Banchio opened #332 "GetEnrollmentGroupAsync fails with attestation no contains root certificate"
I've created an enrollment group through the Azure Portal. When I try to use **GetEnrollmentGroupAsync** against the just created GroupId, I get the following exception: _ArgumentException: Attestation mechanism do not contains root certificate._
Note that the Rest API is invoked correctly, the error happens in the ctor of the enrollmentGroup:
[code]

To add details, the exact exception is launche

[2018-01-12 12:32] FilipVanRaemdonck commented on #265
We still have the same problem

[2018-01-12 21:17] LeivoSepp commented on #310
My solution doesnt work as well with 1.6.1
exactly after upgrading to 1.6.1 the code ha red lines under following commands:
await **receiveDeviceClient.OpenAsync()**;
                Message receivedMessage = await **receiveDeviceClient.ReceiveAsync()**;
                if (receivedMessage?.Properties.Count > 0)
                {
                    string receivedText = Encoding.ASCII.GetString(r

[2018-01-12 22:25] grtn316 commented on #324
Thank you sir.

[2018-01-12 22:25] #324 closed

[2018-01-12 23:17] jasmineymlo commented on #329
@Draczech, you are right that the CompleteMessageFromPacket() in the Util.cs seems to be doing something wrong here.  We shouldn't be adding dup and retain as application properties nor system properties.  It seems to me that application is calling into the util function, do you know why?

[2018-01-12 23:28] jasmineymlo commented on #330
@mwotruba, I believe you should be able to use the same sample against a group enrollment.  Just presenting the leaf cert would results in the exception.  You will need to present the cert chain instead AFAIK.  @CIPop to confirm.  Thanks.

[2018-01-13 07:06] Draczech commented on #329
Unfortunately I don't know why. This issue has been spotted first when using following libraries to read events from IoT Hub:
[code]
If there is a problem with obtaining events it is probably related to the code in one of those libraries.
Furthermore when treating the events read from IoT Hub I transform the Event into my internal object likewise:
[code]
While only taking the _iothub-connection-de

[2018-01-15 07:36] JokerstudioDev opened #335 "[Xamarin/iOS] Error MT3001: Could not AOT the assembly (MT3001)"
- **OS and version used:** macOS High Sierra

- **SDK version used:** Microsoft.Azure.Devices.Client 1.6.1

Error MT3001: Could not AOT the assembly (MT3001) while build ios project in xamarin.forms project

[2018-01-16 06:16] IotCore-Developer commented on #315
Hi Jasmineymlo,

Van you give me An estimation of the planning on solving this bug?
I need to update some customers on that but then i need to Be able to
compile Native.

Best regards

On Monday, January 8, 2018, jasmineymlo <notifications@github.com> wrote:

it. Thanks for filing the issue.

https://ci5.googleusercontent.com/proxy/RBhdqVHJjWAh1L2D-UyEUz1T3Ne4u46ipgeflWtAbCKepKatZPnW3eeVmufAOKkDHW

[2018-01-16 20:36] acambitsis commented on #249
Hi there - have you managed to make headway on the above?  We are seemingly having the same problem.
Thanks,
Andreas.

[2018-01-17 03:16] tylerl0706 opened #336 "Unable to add properties to Microsoft.Azure.Devices.Client.Message object"
- **OS and version used:** Raspberry Pi 3 Raspbian

- **SDK version used:** 1.6.1

# Description of the issue:

I was following this example:
https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-csharp-csharp-getstarted which has the following code snippet:

# Code sample exhibiting the issue:
[code]

The problem is that the .Add function doesn't seem to be accessible.
[code]

A quick look at th

[2018-01-17 06:08] traghunathan commented on #301
Thanks @sergaz-msft.
I tested the application with retry policy as "NoRetry". But, we still received the below exception for some random devices. Do i have to change the retry policy from "NoRetry"?, if so please suggest.

Exception Message-
![image](https://user-images.githubusercontent.com/3650020/35028190-b33417ba-fb7a-11e7-8b07-75babf5cc1af.png)

Need help!

[2018-01-17 06:30] traghunathan opened #337 "Timed out trying to create FaultTolerantAmqpObject`1"
- **OS and version used:** <Windows Server 2016>

- **SDK version used:** <1.6.1>

# Description of the issue:
Our tool is establishing 2K connections to the Azure IoT. Every 10 minutes once tool sends a message to Azure IoT,where message size is 37B. For random devices, tool receives exception - "Timed out trying to create FaultTolerantAmqpObject`1"

# Code sample exhibiting the issue:

![image](

[2018-01-17 07:12] ryanzjohnson commented on #336
What version of the SDK are you using. I just followed the guide you linked to above and was able to send a message with a property as shown in the guide.

![image](https://user-images.githubusercontent.com/35502607/35029656-c4ad5f7a-fb10-11e7-8bb4-49cc3f4392e4.png)

Are you seeing an error at all when attempting to send a message?

[2018-01-17 08:44] sergaz-msft commented on #301
Hello @traghunathan , you have three different retry policies:

"Retry policy for unsuccessful device-to-cloud messages have three options: no try, exponential backoff with jitter (default) and custom."

[from here](https://github.com/Azure/azure-iot-sdk-csharp/blob/master/device/Microsoft.Azure.Devices.Client/RetryPolicyType.cs)

[code]

Can you detail better the sdk version you are using and if

[2018-01-17 11:56] amogh79 commented on #330
Please refer the device client code for individual x509 device provisioning. While creating securityprovider call the method with optional parameter certificate collection. You certificate collection will have either 2 certificates - root and intermediate or a single certificate where the root and intermediate are clubbed.

Following is the modified method for group device provisioning:

public st

[2018-01-17 12:17] amogh79 opened #338 "GroupCertificateVerificationSample failing"
- **OS and version used:** Windows 10

- **SDK version used:** latest code from github

# Description of the issue:

When I run the GroupCertificateVerificationSample it fails. After some debuggign I found out that GetPrivateKey method returns null in VerificationCertificateGenerator.cs resulting which "ECPrivateKeyParameters privateKey" gets set to null and the whole process of certificate verifi

[2018-01-17 16:55] jasmineymlo commented on #329
@Draczech Do you have access to the device's application code and find out where and why it is calling into the util function?  I think the util function is only for testing purpose.  It will be nice to locate where the call is and remove that...

[2018-01-17 17:15] mamokarz commented on #332
Hi @Banchio, thanks for use Microsoft SDK, I'll investigate this issue.

[2018-01-17 18:07] mamokarz commented on #332
Hi @Banchio , this is a bug in the SDK, I'm fixing it.

[2018-01-17 18:21] Draczech commented on #329
Actually some of the devices are sending messages via JMS based Java client using older version of the qpid library:
[code]
I admit this version is quite outdated at the moment. But I don't see any direct relation to the issue.

I still have to check the other big group of devices which are maintained by third party developers. I'll let you know when I have more information.

Just to rule out some

[2018-01-17 19:09] CIPop commented on #192
@yzhong94 @tameraw @simonporter @pierreca
Closing: won't fix per internal decision.

This is a corner case that can easily be avoided by not having devices containing ";" within the name when connection strings are used.

[2018-01-17 19:09] #192 closed

[2018-01-17 19:26] tylerl0706 commented on #336
Hey thanks for the fast reply! I ended up figuring out the issue.

I'm using the .NET SDK from PowerShell. The SDK works in PowerShell... but there was a small difference between how C# interprets the Message object and how PowerShell does it.

It didn't work in PowerShell because C# and PowerShell are using different types when doing the `Add` method call operation. In C#, `message.Property` is t

[2018-01-17 19:40] tylerl0706 commented on #336
Here's the PowerShell example btw... it requires all of the SDK dlls in a zip:
[AzureIoTDeps.zip](https://github.com/Azure/azure-iot-sdk-csharp/files/1640355/AzureIoTDeps.zip)

Here's the code - you'll notice the similarities between the C# example:
[code]

[2018-01-17 20:21] CIPop commented on #335
Thanks @JokerstudioDev . I'll give this a try.

[2018-01-17 20:30] CIPop commented on #249
Thanks @FinitelyFailed and @acambitsis for reporting this. We didn't get a chance to look into this issue yet.
My understanding was that Xamarin/Android is blocked by https://github.com/Azure/azure-iot-sdk-csharp/issues/197. Are you able to compile a "Release" version?

[2018-01-17 20:36] mamokarz commented on #332
Fixed by #339.

[2018-01-17 21:10] CIPop commented on #330
Right: you would need to present the leaf certificate and either:
1. Install the certificate chain (except the root certificate) in your Intermediate Certification Authorities store. (use `certmgr.msc`)
2. Supply the certificate chain `certificate2Collection` within the ctor:     `using (var security = new SecurityProviderX509Certificate(certificate, certificate2Collection))` as @amogh79 pointed o

[2018-01-17 21:12] CIPop commented on #338
@amogh79 can you share the properties of the certificate you are trying to use (we don't need any Private info such as Issuer or Subject).
Cold it be that you're trying to use a certificate not using [Elliptic Curves](https://en.wikipedia.org/wiki/Elliptic-curve_cryptography) ?

[2018-01-17 21:30] jasmineymlo commented on #329
@Draczech Let's check the 3rd party ones...we gotta track down on where the util function is called.  I believe iothub routing wouldn't mess with that, but anything is possible.

[2018-01-17 22:14] tameraw commented on #115
@v-tbert - A lot in the code has changed since this issue was initially reported. Please try with the latest and if still seeing problems please reopen the issue. Thanks.

[2018-01-17 22:16] tameraw commented on #143
Please try with our latest release and reopen if still seeing issues. Thanks.

[2018-01-17 22:16] #143 closed

[2018-01-17 22:33] tameraw commented on #56
Please reopen if still having issues.

[2018-01-17 22:33] #56 closed

[2018-01-17 22:52] tameraw commented on #205
Fixed.

[2018-01-17 22:52] #205 closed

[2018-01-17 22:55] tameraw commented on #158
Closing as dup of #205 which is fixed in 1.6.1 release.

[2018-01-17 22:55] #158 closed

[2018-01-17 22:59] tameraw commented on #216
@maddentist - Please try with 1.6.1 release and reopen if still having issues. Thanks.

[2018-01-18 06:55] jasmineymlo commented on #186
@edchapel Thanks for filing this issue.  Update to the latest Microsoft.Azure.Devices (1.5.0) should fix it.  Please reopen this if you find the same issue after upgrading.

[2018-01-18 06:55] #186 closed

[2018-01-18 07:07] jasmineymlo commented on #157
@simonporter PTAL

[2018-01-18 07:11] jasmineymlo commented on #117
@mastermanu @simonporter, any update on the fix?  thanks.

[2018-01-18 09:38] amogh79 commented on #338
@CIPop attached is a sample cert I created using PS, please change the extension to .cer
[RootCA1_18_2018_3_03_46_PM.cer.txt](https://github.com/Azure/azure-iot-sdk-csharp/files/1642290/RootCA1_18_2018_3_03_46_PM.cer.txt)

[2018-01-18 10:56] amogh79 opened #340 "UpdateReportedPropertiesAsync not updating device twin"
- **OS and version used:** Windows 10

- **SDK version used:** Microsoft.Azure.Devices.Client 1.6.1

# Description of the issue:

I am simulating a device for desired properties changed event. I am using UpdateReportedPropertiesAsync method on DeviceClient to update reported properties, I don't get any error but the reported properties for the device are not getting updated. I checked both on IoT

[2018-01-18 12:07] invinctus commented on #340
I can also reproduce this it seems to not write properties when you are using arrays.

`var prop = new TwinCollection("{\"collection\":[{\"Id\": 1}]}");`  This wont update the properties
`var prop = new TwinCollection("{\"collection\":{\"Id\": 1}}");` This updates ok.

Is it not possible to have a json array in the twin data?
Should the method not return some indication that it is unable to write

[2018-01-18 12:45] amogh79 commented on #340
For me its failing in all cases. Following is the code snippet wherein it fails and doesn't update the reported properties for the device.

`TwinCollection test = new TwinCollection(
                    "{\r\n  \"softwareConfig\": {\r\n    \"softwareName\": \"reg003SE\",\r\n    \"version\": \"2.0.0\",\r\n    \"softwareURL\": \"OneDrive_1_12-21-2017.zip\",\r\n    \"serialNumber\": \"demotestdevice0

[2018-01-18 13:07] invinctus commented on #340
@amogh79 you can get yours to work if you omit the "$" in the "$version" property it doesn't seem to like properties that begin with $

[2018-01-18 13:26] amogh79 commented on #340
Jeez how come I forgot that properties starting with "$" are readonly. Thanks for your inputs @invinctus.
You can use TwinCollection.ClearMetaData() to clean it off readonly properties.

[2018-01-18 14:51] yfakariya opened #341 "JSON deserialization logic should ignore extra contents"
This issue is derived from https://github.com/Azure/azure-iot-sdk-csharp/issues/213#issuecomment-358553689 to prevent future degradation of JSON related operations like device twin.

- **OS and version used:** ANY

- **SDK version used:** future

# Description of the issue:

We should ignore extra contents of JSON deserialization (currently, with setting `CheckAdditionalContent = false` in JSON.NE

[2018-01-18 14:52] yfakariya commented on #213
@jasmineymlo Sure! I post a reminder issue to https://github.com/Azure/azure-iot-sdk-csharp/issues/341 now.

[2018-01-18 22:03] ksaye commented on #319
it happens on .Net Framework too.

[2018-01-18 22:56] CIPop commented on #341
That's a very good point @yfakariya ! Thanks for opening this issue.

@yzhong94 @tameraw given the user scenario described above, this would need to be implemented on all languages and added to the LTS branch to ensure new JSon formats don't break old SDKs.
/cc @pierreca @prmathur-microsoft @jspaith

[2018-01-18 23:05] CIPop commented on #340
@amogh79 does this mean that it worked for you after removing "$"?

The service should return an error. If the "$" was the reason you couldn't update properties, I'd like to repurpose this issue to track the lack of error reporting.

@invinctus Does it work if you add properties on the collection instead of parsing them from a `string`?
Also, please open a separate issue to track correct array par

[2018-01-18 23:18] CIPop commented on #338
Thanks @amogh79 . The cert is using ECDSA which is what I've tested with as well.

You need to use the private key (PFX file with password) within the tool:
__Important__: In production environments, we don't recommend using the sample. Instead, you should use a Certificate Signing Request (CSR) towards your Certificate Authority (CA). For how to achieve this in Windows Server please see [this lin

[2018-01-18 23:28] CIPop commented on #338
@amogh79 I've submitted #342 to fix the tool to output a better error message if the key is missing.

[2018-01-18 23:33] CIPop commented on #321
@ponsakthi did you have any time/luck getting this to repro and capturing the above traces?

[2018-01-19 01:06] CIPop commented on #314
@mmu69 closing for now. Please reopen if you're still seeing this issue.

[2018-01-19 01:06] #314 closed

[2018-01-19 01:24] CIPop commented on #232
Thanks @anhashia for your help and unblocking @domenicoamelino !

@jspaith this sounds like a bug in the Certificate generation script in the C repo.

@yzhong94, @dominicbetts  Looking at https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-security, the step of installing certificates within the Intermediate Authorities is missing.
On .Net Core for Linux, one would need to use https://

[2018-01-19 05:40] amogh79 commented on #340
@CIPop Yes it worked for me after removing '$'. As per device twins's documentation [here](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-device-twins) it says some properties are readonly and are set by device/platform. I believe the one's starting with '$' are readonly.

[2018-01-19 06:40] amogh79 commented on #338
@CIPop thanks for the update. I have a root cert which gets created from  azure-iot-sdk-java ProvisioningX509CerGen.java. Output from this file is the encrypted certificate text in BEGIN....END format. Any idea how I create pfx file from that cert? For our project I have exposed DPS functionalities via api using the service SDK, having said that I am testing my service side apis by creating device

[2018-01-19 09:05] invinctus commented on #340
@CIPop the documentation does say arrays are not supported I didn't notice that initially.  The biggest issue really is the lack of error reporting when you try to write something that is not supported.

[2018-01-19 19:07] ryanzjohnson opened #344 "Processing D2C messages sample does not support .Net Core 2.0"
# Description of the issue:
The [documentation ](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-csharp-csharp-process-d2c)on reading D2C messages shows how to do it with .Net Framework 4.5.1 but not for .Net Standard applications. It references WindowsAzure.ServiceBus which only supports .Net Framework.

[2018-01-19 20:58] CIPop commented on #338
@amogh79 To convert from PEM to PFX you can use the following. You must also provide a password when asked:

`openssl pkcs12 -export -out certwithprivatekey.pfx -inkey key.pem -in public.pem`

You will need both the key and the public cert public part for this to work. PKCS12 (PFX) defines a format that may contain both the private and public keys protected by a password.

You may want to refer to

[2018-01-19 21:28] #291 closed

[2018-01-19 22:32] CIPop commented on #337
Thanks for reporting @traghunathan .
We need to investigate this further but I think this could be caused by network timeout. We might not be wrapping up the error correctly.

[2018-01-20 00:24] CIPop commented on #340
Thanks @amogh79 and @invinctus ! Glad to see you are unblocked!
I would like to investigate not getting an error which at this point seems to be a service-side issue.

@simonporter I'm not very familiar with the Service SDK but in general we would expect the server side to report back if any of the data was incorrect. Is there any reason that the server would accept both the array and $ param chan

[2018-01-20 00:34] #338 closed

[2018-01-20 13:42] davidmaiden commented on #249
Hi - I'm having this issue too. Any idea when there will be any progress on this? I'm not sure if its related, but problems I was having with Xamarin/Android and using PackageReference based projects when referencing Microsoft.Azure.Devices.Client appear to have been solved with the release of VS2017 15.5.4 (yesterday)

[2018-01-22 07:12] amogh79 commented on #338
@CIPop thanks for the update. I found out a way to create root, intermediate and leaf certs for simulating a device. I also found out a way to verify. I used this [link](https://jamielinux.com/docs/openssl-certificate-authority/introduction.html), this link details all the steps to create root, intermediate and leaf certs. Please keep in mind that the commands on this link are targeted for Linux b

[2018-01-22 15:49] mwotruba commented on #330
Thank you for your responses.
Unfortunately it's not working in my environment.

I'm still using the test certs from here (https://github.com/Azure/azure-iot-sdk-c/blob/master/tools/CACertificates/CACertificateOverview.md).
I just changed some subject names and I kept the Itermediate{0}.cer files for later use. The original implementation deletes these cer files.

I uploaded and verified the Inter

[2018-01-22 19:11] jasmineymlo opened #346 "Add e2e tests for service sdk query"
# Description of the issue:
service sdk is lacking e2e tests for query

[2018-01-22 21:18] CIPop commented on #321
@ponsakthi , please reopen also adding the information above.

There isn't much we can investigate based on the above stack.

[2018-01-22 21:18] #321 closed

[2018-01-22 21:23] CIPop commented on #243
Thanks for reporting @tiagoshibata !
We were able to repro the issue and now need to investigate to understand why this is happening.

[2018-01-23 00:15] #332 closed

[2018-01-23 00:19] CIPop commented on #288
Fixed by #288,

[2018-01-23 00:19] #288 closed

[2018-01-23 04:28] traghunathan commented on #301
Hello @sergaz-msft
SDK Version : 1.6.1

In our code, we are using **NoRetry** Policy, Sample code is below
![image](https://user-images.githubusercontent.com/3650020/35078694-6d3b72da-fc29-11e7-8755-816512870b2b.png)

Also,
Once we receive the exception, we are closing the connection.
When we try to reestablish the new connection for same device, we able to achieve it.

[2018-01-23 08:49] luyaok opened #347 "Register a device using my certificates and get IotHubUnauthorizedAccess error"
I followed [this tutorial](https://github.com/Azure/azure-iot-sdk-csharp/tree/master/provisioning/device/samples/ProvisioningDeviceClientX509#using-your-certificates)

And generate certificates followed [this document](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-security-x509-create-certificates).

My device certificate signed by the root certificate that I upload to my IoT Hub and veri

[2018-01-23 09:28] amogh79 commented on #347
Try re-provisioning your IoT hub. I had the same issue after the IoT hub I was connecting was deployed using ARM by the CI-CD folks. Asked them to recreate and my problem was resolved.

[2018-01-23 09:35] amogh79 commented on #330
From my experience only the last certificate in the chain should work with the device certificate. I have faced issues with the certificates created by powershell. I recommend use the description from this [link](https://jamielinux.com/docs/openssl-certificate-authority/introduction.html) works like a charm. Follow the steps meticulously, also note that the commands in this article are for Linux,

[2018-01-23 19:06] CIPop commented on #347
@simonporter @alextolp Sounds like there is a bug in the service. @JimacoMS2 was hitting something similar yesterday.

[2018-01-23 21:24] CIPop commented on #232
@dominicbetts /cc @jspaith @tameraw @yzhong94 I'm not sure that article is the right documentation to create an enterprise-grade PKI. There are multiple commercial PKIs including one offered by Microsoft through Windows Server Certificate Authority (https://msdn.microsoft.com/en-us/library/ms755466(v=vs.85).aspx).
The instructions above are .NET Specific. They apply for both Windows and Linux (Net

[2018-01-23 21:49] ryanzjohnson commented on #344
.Net Standard uses the new Nuget package Microsoft.Azure.EventHubs

[2018-01-24 01:23] CIPop commented on #315
I need to update some customers on that but then i need to Be able to
compile Native.

@IotCore-Developer I'm currently investigating this issue. Since this is not happening in Debug mode, I'll include the UWP AOT compiler team.

[2018-01-24 09:38] dominicbetts commented on #232
@CIPop - I've created a workitem in the docs VSTS to discuss the required docs changes. Thanks.

[2018-01-24 18:14] robertsimmons opened #349 "Random UnauthorizedExceptions after upgrading from 1.0.21 to 1.6.1"
- **OS and version used:** Azure WebJobs

- **SDK version used:** 1.6.1

# Description of the issue:
We have services in Azure that run as emulated devices running 24/7. After upgrading our packages from 1.0.21 to 1.6.1, we randomly get UnauthorizedExceptions. Of our about 20 devices, 1 to 3 will throw this exception at the same time. After about a minute it reconnects. We've been using this versi

[2018-01-24 19:00] IotCore-Developer commented on #315
If you’ll need some information I’ll be glad to assist you.

Sent from Mail for Windows 10

From: Cristian Pop
Sent: Wednesday, January 24, 2018 2:23 AM
To: Azure/azure-iot-sdk-csharp
Cc: IotCore-Developer; Mention
Subject: Re: [Azure/azure-iot-sdk-csharp] [UWP] Compile to .net native --->application crash (#315)

Can you give me An estimation of the planning on solving this bug?
I need to update

[2018-01-25 04:15] davehutchy opened #350 "DeviceClient SetConnectionStatusChangesHandler Not firing when losing Internet"
- **OS and version used:** ubilinix 4.4.0

- **SDK version used:** 1.6.1

# Description of the issue:
The DeviceClient SetConnectionStatusChangesHandler does not fire when the network goes down.
However when the network comes back (plug Ethernet back in) the handler fires twice once with a
status: Disconnected_Retrying
reason: No_Network

and a second time

status: Connected
reason: Connection_Ok

[2018-01-25 13:12] thesilvereagle commented on #350
Hi there,

I am experiencing a similar issue. We are trying to simulate devices that sends messages to our IoT hub in order to log the exceptions raised when an communcation errors accure as we had several issues with our IoT hub, so that we can send our logs to Microsoft support teams.
Our main issue is that we SetConnectionStatusChangesHandler is not taken in cosideration (it is supposed to over

[2018-01-25 23:29] varunpuranik opened #351 "Invoking methods on a device times out"
OS: Windows 10  (also repros on Linux)
SDK Version: 1.6.1

# Description of the issue:
Invoking methods on a device or module seems to time out after about 2 hours.

Scenario –
-	A device connects to IoTHub over AMQP and registers for a method invocation callback.
-	A service side component invokes methods on the device, say every 30 secs
-	This works fine for about 2 hours, and the device sends t

[2018-01-25 23:59] yzhong94 commented on #344
You can edit the document using Edit button on top right.

[2018-01-26 00:38] CIPop opened #352 "MQTT should iterate through all DNS records"
Currently, MQTT over TCP is picking only the first DNS address:
https://github.com/Azure/azure-iot-sdk-csharp/blob/7629e5c9c453474b4634a3b377258ba5de82428c/device/Microsoft.Azure.Devices.Client/Transport/Mqtt/MqttTransportHandler.cs#L580

This should be changed to iterate through all addresses similar to: https://github.com/Azure/azure-iot-sdk-csharp/blob/master/provisioning/transport/mqtt/src/Pro

[2018-01-26 01:49] CIPop commented on #351
Closing as duplicate to #319

[2018-01-26 01:49] #351 closed

[2018-01-26 01:52] CIPop commented on #319
This may be related to CBS token refresh. The test is detecting intermittent issues with the refresh as well: #263.

[2018-01-26 22:58] jasmineymlo commented on #350
@davehutchy @thesilvereagle, Thanks for filing the issue.  We will look into this.

[2018-01-27 01:11] jasmineymlo commented on #349
@robertsimmons Thanks for filing this issue.  Looks like this is related to #263 where token refresher is not renewing on-time before token expiry  thus leads to random UnauthorizedExceptions. @varunpuranik is currently looking into it.  Thanks.

[2018-01-27 01:41] damonbarry commented on #320
@CIPop There's a lot of extraneous information in the description, but the focus of this issue is:

How does one receive such an error in Device Explorer? This is independent of IoT Edge.

[2018-01-27 01:42] damonbarry commented on #320
BTW the IoT Edge-specific part of this scenario is being tracked with Azure/iot-edge#447.

[2018-01-27 04:36] saivendra opened #353 "Connection to protocol gateway does not work"
- **OS and version used:** <VERSION>
Window Server 2016
- **SDK version used:** <VERSION>
master branch

# Description of the issue:

Connecting to IoT Hub thru Protocol Gateway never succeeds. Device to Protocol Gateway connection is established but Protocol Gateway to IoT Hub does not work. Reason: Potential bug in IotHubConnectionString(IotHubConnectionStringBuilder builder)
# Code sample exhib

[2018-01-29 10:06] jetiba-ms commented on #330
@mwotruba I had the same issue working with DPS group enrollment.
I solved it using a device name without capital letters when I create device certificate using [this guide for bash](https://github.com/Azure/azure-iot-sdk-c/blob/master/tools/CACertificates/CACertificateOverview.md). It seems that capital letters are not allowed for devices on DPS.
In the X509Certificate2Collection it is enough to

[2018-01-29 19:41] CIPop commented on #353
@saivendra, a new version of the gateway is under development in https://github.com/Azure/azure-iot-sdk-csharp/tree/modules-preview

@damonbarry @myagley is this something that could already be fixed in the modules-preview branch?

[2018-01-29 20:11] damonbarry commented on #353
@CIPop Protocol gateway project is [here](https://github.com/Azure/azure-iot-protocol-gateway), and is unrelated to the [modules-preview](https://github.com/Azure/azure-iot-sdk-csharp/tree/modules-preview) branch of this repo, or to IoT Edge. The confusion probably comes from the fact that IoT Edge makes use of the `GatewayHostName` segment of the connection string which was originally designed to

[2018-01-29 21:31] CIPop opened #355 "Add default IRetryPolicy documentation"
Within https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.devices.client.deviceclient.setretrypolicy?view=azure-dotnet#Microsoft_Azure_Devices_Client_DeviceClient_SetRetryPolicy_Microsoft_Azure_Devices_Client_IRetryPolic we could document the default retry policy.

The default retry policy is defined by the following:
`new ExponentialBackoff(int.MaxValue, TimeSpan.FromMilliseconds(100), T

[2018-01-29 21:31] CIPop commented on #355
@jasmineymlo @yzhong94 @tameraw PTAL

[2018-01-29 21:33] yzhong94 commented on #355
@BryanLa Adding Bryan as he's helping us with retry documentation

[2018-01-29 21:56] BryanLa commented on #355
Thanks @yzhong94. I believe these ref docs are auto-generated (from a corresponding assembly), so I don't know if we have options of updating/augmenting (unless it's put into the source /// comments). So a couple of questions:
- assuming we can't would it make sense to integrate this into the doc Yi is referring to instead?
- is a similar type/API also available to non-.NET clients?

@dominicbetts

[2018-01-29 21:57] yzhong94 commented on #355
@BryanLa This is not for DPS, you can track it under SDK section.  And yes, we should integrate this into the SDK reliability doc.

[2018-01-29 21:58] BryanLa commented on #355
@yzhong94 apologies, I meant to say SDK.. :) So I will just update the existing reliability work item w/this (instead of creating a new one), if that works for everyone.

[2018-01-29 22:57] saivendra commented on #353
@damonbarry , you are looking at different code and not the one I am referring to. Please look at [IotHubConnectionString.cs](https://github.com/Azure/azure-iot-sdk-csharp/blob/master/device/Microsoft.Azure.Devices.Client/IotHubConnectionString.cs#L31l). The code is setting the HostName to GatewayHostName when there is a Protocol Gateway present. With this code in place the Protocol Gateway is con

[2018-01-29 23:20] CIPop commented on #355
This must be present either directly or via a link on this particular API. Having a blog-post or other document will not help our customers discover the defaults.

@BryanLa this functionality should be available or planned for all other languages. This particular API and type is C# specific.

[2018-01-29 23:43] damonbarry commented on #353
Ah right...I was looking at the service client code, not device client, sorry.

Perhaps there is a bug in the C# SDK here. But when I look through the git history, the behavior since the beginning has been to use `GatewayHostName` if it is set, otherwise use `HostName`. And I'm pretty sure the C# SDK has worked against protocol gateway in the past (in fact, since the protocol gateway itself uses t

[2018-01-30 02:19] CIPop commented on #278
Hello @stefan2410 , we've closed on this discussion and decided we'll try to follow option 2 going forward.
/cc @tameraw @yzhong94

[2018-01-30 02:19] #278 closed

[2018-01-30 02:26] saivendra commented on #353
Great. Please let know what your investigation leads to. My investigation confirms that current C SDK & current Protocol Gateway works as expected. Current C# SDK & current Protocol Gateway is broken. Thanks

[2018-01-30 02:30] CIPop commented on #347
@luyaok I've found and fixed this issue with the certificates generated by the tool: https://github.com/Azure/azure-iot-sdk-c/pull/365
Please download the updated powershell script and regenerate the certificates.

If you're still hitting this, please reopen. As @amogh79 pointed out, you may need to either remove all previously uploaded certificates or recreate the hub.

[2018-01-30 02:30] #347 closed

[2018-01-30 02:32] CIPop commented on #344
@yzhong94 this is not as simple as pointing to the new package - there are substantial code changes that a user needs to do to use EventHubs vs ServiceBus. We need a sample & document to guide developers throughout the port.

@ryanzjohnson is there such a porting document available from the ServiceBus team?

[2018-01-30 02:40] ryanzjohnson commented on #344
No document exists. They don't want to give the illusion that one package or way of doing it is better than another.

[2018-01-30 02:42] CIPop commented on #330
@mwotruba I've found and corrected a problem with the Powershell generated certificates: https://github.com/Azure/azure-iot-sdk-c/issues/362
Please regenerate the certificates if you've used the PS script. (Bash didn't have the problem.)

Also, @jetiba-ms is correct: The registration ID is alphanumeric, lowercase, and may contain hyphens (from https://docs.microsoft.com/en-us/azure/iot-dps/concept

[2018-01-30 03:23] CIPop commented on #310
@LeivoSepp I've upgraded to the latest Visual Studio 2017 and was able to create both a UWP UI application and a Windows IoT UWP application. I've tested that sending Telemetry works as expected for all but AMQP + WS (requires further investigation).

The Task reference sounds like incorrect NuGet configuration (you may be referencing extra NuGets that are not required or using an older csproj fil

[2018-01-30 03:23] #310 closed

[2018-01-30 03:26] CIPop commented on #315
Thanks @IotCore-Developer.
I've made some progress with help from someone in ILC: The application fails to load one of the native Windows crypto libraries.
Will keep you posted as we make more progress on this.

[2018-01-30 06:08] IotCore-Developer commented on #315
Ok thx for the update

On Tuesday, January 30, 2018, Cristian Pop <notifications@github.com> wrote:

fails to load one of the native Windows crypto libraries.

https://ci4.googleusercontent.com/proxy/fHxBMD0h1_12l5bWJ8RNo-YOxs1v4viq-P0_Xi7sRu8YAivjrmOK4maEU5OhL-pAzsJnZfIPAvKKq5e7V1QMkxnXH6g3V6OnlysUp-YPxsJrIBZ2Erlel9Dw4YQ9_581ZSVDrAFcEdf6LvBkoW0Jms0w-atf_w=s0-d-e1-ft#https://github.com/notificatio

[2018-01-30 18:05] jasmineymlo commented on #265
@AdamMachera @FilipVanRaemdonck, Just an update that I was able to a repro on my machine by disabling traffic on AMQP ports with debug build of the latest master build.  Not seeing a repro with debugger.  Will continue with investigation.  Thanks.

[2018-01-30 18:09] jasmineymlo commented on #350
@davehutchy @thesilvereagle, just wondering if the devices are only sending telemetry and receiving C2D messages?  Are they subscribed to methods and Twins?  Thanks

[2018-01-30 18:42] CIPop commented on #355
This needs to be documented by using XML doc in the code: https://review.docs.microsoft.com/en-us/help/contribute-ref/?branch=master
We can also add a readme.md to have the image above.

[2018-01-30 19:14] BryanLa commented on #355
Agree. I just finished reviewing the options, and this is best path, if we want to keep the link on the reference doc page.

Specifically, the CI team that owns generation of reference docs has asked that we use the \<remarks\> tag in the /// comments. So we could add something like "See [How to use reliability features in Azure IoT device SDKs](https://review.docs.microsoft.com/azure/iot-dps/how-

[2018-01-31 00:11] davehutchy commented on #350
Yes the device does not subscribe to methods however it is subscribed to Twins using

[code]

[2018-01-31 02:05] CIPop commented on #315
This is caused by https://github.com/AArnott/PCLCrypto/issues/137.
I'm following up with both ILC and @aarnott offline.

As a future solution we are considering removing the PCLCrypto dependency and switching to netstandard2.0. (That is a bigger work-item requiring some assessment of all the current #ifdefs for UWP/Xamarin.)

[2018-01-31 02:46] CIPop commented on #142
@raja4014 I didn't try this yet myself but, as a workaround, please try creating a .Net Standard 1.3 or 2.0 library and reference our latest SDK (1.6.2) within it. In your UWP application reference this library instead.

The right fix is for us to also ship a .Net Standard 2.0 DLL which has added lot more .Net APIs that are now supported in the 16299 UWP SDK.

[2018-01-31 03:14] AArnott commented on #315
I'm not sure how we can say that it's caused by AArnott/PCLCrypto#137, given that issue has no root cause. Given that this is a suddenly new issue and PCLCrypto hasn't changed, I daresay this is more likely to be a bug in the AOT compiler or the Windows UWP libraries. I'll investigate a bit thought to see if I can figure out which it is.

[2018-01-31 03:22] AArnott commented on #315
Ok, I see @CIPop already put all the logs into AArnott/PCLCrypto#137 that we need to see that IMO this is a UWP WinOS bug rather than anything we can fix within PCLCrypto.

[2018-01-31 16:07] IotCore-Developer commented on #315
What Will Be the prognose on a real solution because since version 1.2.2
this is a problem and I need to update my customers.
I can't tell them they have to wait another half year

On Wednesday, January 31, 2018, Cristian Pop <notifications@github.com>
wrote:

and switching to netstandard2.0. (That is a bigger work-item requiring some
assessment of all the current #ifdefs for UWP/Xamarin.)

https:

[2018-01-31 21:17] ryanzjohnson commented on #337
According to [this](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-quotas-throttling#operation-throttles) you may be hitting a throttling issue on device connection or on device to cloud message sends.

[2018-02-01 00:35] AArnott commented on #315
@IotCore-Developer "version 1.2.2" of what? The Windows SDK?

[2018-02-01 01:08] CIPop commented on #315
@AArnott it's the Azure IoT SDK.

I agree: ILC should have figured out if PCLCrypto was using DLLs or APIs not supported in the UWP profile.

@IotCore-Developer We understand the urgency: Short term, I will try to remove PCLCrypto and change only the Crypto APIs to use NetStandard2.0 APIs. (This is less work than converting everything to NS2.0).

[2018-02-01 02:08] AArnott commented on #315
PCLCrypto isn't using anything illegal for UWP. The Windows folks have already confirmed this is a bug in Windows.

[2018-02-01 07:24] Draczech commented on #329
So I finally received message from our 3rd part developers team. They are using [iot-device-client, version 1.3.32](https://search.maven.org/#artifactdetails%7Ccom.microsoft.azure.sdk.iot%7Ciot-device-client%7C1.3.32%7Cjar) library. Again not the latest release, but hopefully safe lib.

Please let me know if there are any updates in your investigation. Thanks

[2018-02-01 21:36] CIPop commented on #319
Keeping this as the root bug# and closing all others as duplicates.
This is being addressed in #357.

[2018-02-01 21:38] CIPop commented on #263
Tracking with #319; fixed by #357.

[2018-02-01 21:39] CIPop commented on #349
Closing as duplicate of #319. This is being addressed by #357.

[2018-02-01 21:39] #349 closed

[2018-02-02 06:51] ygulsen commented on #85
can we assume the memory leak in op still exists?

[2018-02-02 09:51] sergaz-msft commented on #301
Hello @traghunathan can you detail better why don't you use the default retry policy (exponential backoff with jitter) for achieving the same result?

[2018-02-02 17:31] #319 closed

[2018-02-02 20:43] CIPop commented on #85
@ygulsen Since the bug was closed as resolved by above PR, that wouldn't be a correct assumption.
Are you asking because you are seeing a memory leak with builds >1.6.1?

[2018-02-04 12:17] IotCore-Developer commented on #315
Ok thx for your updates and the fact everyone understands the urgency of this problem.

I really appreciate the efforts on this.

Sent from Mail for Windows 10

From: Cristian Pop
Sent: Thursday, February 1, 2018 2:08 AM
To: Azure/azure-iot-sdk-csharp
Cc: IotCore-Developer; Mention
Subject: Re: [Azure/azure-iot-sdk-csharp] [UWP] Compile to .net native --->application crash (#315)

@IotCore-Develop

[2018-02-04 13:49] mariusmuntean opened #360 "ntdll.dll makes ProductInfo Windows-only"
I'm trying to perform certificate-based device provisioning on a raspberry pi 3 running Raspbian.
It looks like the class ProductInfo needs ntdll.dll which isn't available on Raspbian.

Can I circumvent this somehow? Or can you implement ProductInfo cross-platform?
Maybe this would help: https://searchcode.com/codesearch/view/115739696/

This is stack trace  get:
`Microsoft.Azure.Devices.Provision

[2018-02-05 10:45] thesilvereagle commented on #350
Thanks @jasmineymlo  for the follow up
From my side:
- The devices are only sending telemetry.
- The devices are subscribed to Twins only.

I handled that on my side. We downloaded the SDK and added some code in order to log the exception on a blob so that we can work on the communication errors when any exception is raised.

[2018-02-05 11:47] MehranMazhar opened #361 "Error when add ScheduleDeviceMethodAsync job"
when i try to add ScheduleDeviceMethodAsync   job  i get this  error  :

{
    "$id": "1",
    "ClassName": "Microsoft.Azure.Devices.Common.Exceptions.IotHubException",
    "Message": "{\"Message\":\"ErrorCode:ThrottlingMaxActiveJobCountExceeded;Error: 429 {\\\"Message\\\":\\\"ErrorCode:ThrottlingMaxActiveJobCountExceeded;429\\\",\\\"ExceptionMessage\\\":\\\"Tracking ID:9659f77467c24bcf8a717f07e5a

[2018-02-05 12:32] ygulsen commented on #85
I got mixed results from some customers but did not investigate further, thx anyway

[2018-02-06 07:00] marktsoper commented on #143
I am having this issue also. The strange thing is the same codes it works in one method in the same class but not the other.

[2018-02-06 07:19] amogh79 opened #363 "SDK support to add certificates in certificate blade, link iot hubs and get list of linked iot hubs"
- **OS and version used:** <Windows 10>

- **SDK version used:** <Latest from github>

# Description of the issue:

Hi,

I want to know if the SDK supports retrieving, adding, removing and verifying certificates in the DPS. I also want to if the SDK supports getting the list of linked iot hubs, adding, removing iot hub from the list. If this is not supported can the support for this be added?

Tha

[2018-02-06 07:30] Sbou commented on #143
For me the issue was a space in the deviceid. Now it works.
Thank you

[2018-02-06 07:37] marktsoper commented on #143
@Sbou  - Your post help me figure out that it was deviceid related.

I am using GUIDS and found that A works and B does not.

A: 27775286-3A2F-4A84-8DF2-4112C31FAC5E

B: 799EF0E6-178F-4DCC-A553-D2C5772A9404

Any ideas?

Thanks!

[2018-02-06 19:07] CIPop commented on #143
@Sbou , @marktsoper If this is still an issue, please open a new issue with a repro using our latest SDK version (1.6.2).

[2018-02-06 19:10] CIPop commented on #315
@IotCore-Developer I'm actively working on this:
1. The Windows Crypto team is looking into the SDK issue from their side. Fixing this should in theory allow older versions of our SDK to work.
2. I'm removing this dependency from our SDK entirely since UWP is now .NET Standard 2.0 compliant and so we have access to the .NET Core 2.0 Crypto APIs. I should have a PR out hopefully by EOW.

[2018-02-06 19:16] CIPop commented on #360
Thanks for reporting @mariusmuntean! Sounds like you're using the wrong target when cross compiling for Raspberry PI for linux (or that .Net Core has a bug in `System.Runtime.InteropServices.RuntimeInformation.get_OSDescription () `).

Please follow : https://github.com/dotnet/core/blob/master/samples/RaspberryPiInstructions.md (`dotnet publish -r linux-arm` for Linux running on Raspberry Pi).

[2018-02-06 19:40] CIPop commented on #361
@MehranMazhar you're getting throttled by the Service: `ErrorCode:ThrottlingMaxActiveJobCountExceeded;429`.

If you believe this is a bug on the service side, please open a Support Request using the help button:
![image](https://user-images.githubusercontent.com/8635911/35880301-6815610e-0b32-11e8-8e34-35775a43aa6c.png)

It's important that you add the same information that you've added in this is

[2018-02-06 19:40] #361 closed

[2018-02-06 19:47] IotCore-Developer commented on #315
Ok that sounds promising, thx

Sent from Mail for Windows 10

From: Cristian Pop
Sent: Tuesday, February 6, 2018 8:10 PM
To: Azure/azure-iot-sdk-csharp
Cc: IotCore-Developer; Mention
Subject: Re: [Azure/azure-iot-sdk-csharp] [UWP] Compile to .net native --->application crash (#315)

@IotCore-Developer I'm actively working on this:
1. The Windows Crypto team is looking into the SDK issue from their

[2018-02-06 22:30] CIPop commented on #363
/cc @tameraw @nberdy @alextolp

@amogh79 for security purposes, there is a separation between the control plane and the enrollment data plane.

1. For the control plane you will need to go through Azure Resource Manager ([REST API](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-rest-api) or [CLI ](https://docs.microsoft.com/en-us/azure/azure-resource-manager/xplat-c

[2018-02-06 22:30] #363 closed

[2018-02-06 23:08] CIPop commented on #85
@ygulsen if you still see high resource (CPU/RAM, etc) utilization using our SDK > 1.6.1 please open a new issue.

[2018-02-06 23:38] CIPop opened #364 "DeviceExplorer build fails if the Debug configuration hasn't been built"
/cc @jasmineymlo

If I don't build Debug, the Release DeviceExplorer build will fail as it takes dependency on the Debug version of the IoT Hub SDK:

[code]

[2018-02-07 02:58] CIPop commented on #335
@JokerstudioDev I was able to repro this on one of my machines over the weekend but I can't repro today on my main Dev machine and a different Mac machine used as build machine. XCode and Visual Studio for Mac have been installed yesterday and Visual Studio 2017 was updated yesterday to 15.5.6.

Could you give this another try after updating the entire tool-chain on both Mac (and Windows if you ar

[2018-02-07 03:10] CIPop commented on #197
@PureWeen I can't repro this anymore after removing PCL (v1.6.1+).

While a new NuGet for Amqp is not yet available, I'm testing a build from their master. I've tried a simpler setup where I've referenced the AMQP 1.3 library then the (locally built) 1.4 and in both cases the Android application built with AOT (Release) without any issues.

Closing for now. Please reopen if you still see this issu

[2018-02-07 03:25] CIPop commented on #270
Thanks again @PureWeen for researching and finding a workaround. I was going through the issues linked and found a few Xamarin/Android issues that are tracking a bug-fix on their side:

https://github.com/xamarin/xamarin-android/issues/1196#issuecomment-358746048
A group of related to bugs is also documented here: https://github.com/xamarin/AndroidSupportComponents/issues/75#issuecomment-361282393

[2018-02-08 01:43] #315 closed

[2018-02-09 00:00] CIPop opened #371 "[LTS Port] AMQP TokenRefresh will randomly fail to re-initiate the CBS link"
Tracking port of #319 (PR: #357) to LTS.

[2018-02-09 00:10] CIPop commented on #295
Closing this one as duplicate of #114

[2018-02-09 00:10] #295 closed

[2018-02-09 07:25] traghunathan opened #372 "Received an Exception - The Operation was canceled"
- **OS and version used:** <Windows Server 2016>
- **SDK version used:** <1.6.1>

# Description of the issue:
We are running a simulator with 2000 devices in single instance (total 5 instances in single machine), which was working fine for last 2 months. When we test the same simulator tool yesterday, we received "The Operation was canceled" exception during long run.

# Code sample exhibiting the

[2018-02-09 22:57] jasmineymlo commented on #265
I believe that the unobserved exceptions are originated from
await Task.WhenAny(a,b);
The above will ultimately throw an exceptions from whichever task faults first.  In our case, when operation timeout.  The exception will bubble up and caught by the app.
Then the other task, which is trying to connect in the network layer, fails and throw socket exception which is unobserved.  Currently, we do n

[2018-02-09 23:02] CIPop commented on #372
@traghunathan In v1.6.1 there were changes made to the retry mechanism to fix a memory leak.
Since you have 2000 devices in a single instance, there is a chance that some of them timed-out based on `OperationTimeoutInMilliseconds` which defaults at 4 minutes. In case of network issues or throttling this would be an expected exception.

Could you add more information such as:
1. What .NET runtime a

[2018-02-12 06:12] traghunathan commented on #372
@CIPop
i think, its not because of throttling, as we using S3 IoT hub. We tested the same scenarios many times earlier.
We plan to monitor network during our execution next time,

Please find the list of information asked in above comments,
1. What .NET runtime are you using? - **.NET Framework 4.5.2**
2. What is the frequency of devices failing with this error (e.g. 4 devices each 10 hrs) - **"We

[2018-02-13 07:55] tojuasp commented on #111
If you solve a question, please post an answer as well.

[2018-02-14 12:56] sgmbh opened #373 "Runtime Error in Microsoft.Azure.Devices.Client on Xamarin Android"
- **OS and version used:** Windows 10
![image](https://user-images.githubusercontent.com/36477014/36205370-cb66c77c-118e-11e8-8490-3efa942368e9.png)

- **SDK version used:** Android 8.0
- **Xamarin.Forms version used:** 2.5.0.122203 (edit: 2.5.0.280555)
- **Microsoft.Azure.Devices.Client version used:** 1.6.2 (edit: 1.7.0)

# Description of the issue:

Steps to reproduce the error:
New Cross-Platf

[2018-02-14 20:44] SamuelDebruyn commented on #373
Same here.
Probably related to the following:

- https://github.com/dotnet/corefx/issues/26203
- https://github.com/dotnet/core/issues/1269
- https://github.com/xamarin/xamarin-macios/issues/3138

[2018-02-14 20:46] SamuelDebruyn commented on #323
Why did you close this issue? You can't add this package to Xamarin.Android or Xamarin.iOS projects without a workaround...

[2018-02-15 10:28] sgmbh commented on #373
I'm not sure if this is the same? It looks like this three problems are somehow related to visual studio for mac?
Perhaps it's something like this? But I'm not sure...
[xamarin/xamarin-android#1196](https://github.com/xamarin/xamarin-android/issues/1196)
[xamarin/xamarin-android#1154](https://github.com/xamarin/xamarin-android/issues/1154)
[Microsoft/msbuild#2776](https://github.com/Microsoft/msbu

[2018-02-15 16:47] rcoccia commented on #353
I'm currently working with c# device client 1.6.2 and a protocol gateway that perform decompression of the payload before routing the request to the iot hub.
my connection string is something like
HostName=xxx.azure-devices.net;DeviceId=testdevice;GatewayHostName=localhost:8883;SharedAccessKey=xxxx;

I can pass the string to the iothubconnectionstring builder. Accessing properties like HostName or

[2018-02-15 20:09] saivendra commented on #353
@rcoccia try without the port number. I believe the port number is hard coded in the SDK
HostName=xxx.azure-devices.net;DeviceId=testdevice;GatewayHostName=localhost;SharedAccessKey=xxxx;

[2018-02-16 10:31] SdtBarbarossa opened #375 "SetMethodHandlerAsync while having a Bad connection is not working ( in node it does )"
- **OS and version used:** Microsoft Windows Server 2012
- **SDK version used:** Microsoft.Azure.Devices.Client (1.5.2)

# Description of the issue:
SetMethodHandlerAsync is not working under a weak connection. While that sounds like only a Connection problem it should also be a Problem in Code maybe because in Node its working.

I Have a Pi that i run as a IOT Device Connecting to my IOT Hub on A

[2018-02-17 08:17] programmersommer commented on #54
Hi!
I have same issue. And previously it was helped to me adding new dependency:

    {
      "frameworks": {
      "net46":{
        "dependencies": {
          "Microsoft.Azure.Devices": "1.4.1",
          "Microsoft.Azure.Amqp":"2.0.0.0"
          }
        }
      }
    }

But now everything works without Amqp in dependencies

[2018-02-19 02:39] arturl commented on #373
I see the same behavior. Merely adding Microsoft.Azure.Devices.Client package v1.6.2 causes the app to crash at startup. The log:
[code]

[2018-02-19 16:56] toolboc commented on #65
We are facing a similar issue to @JohnKozell .
Essentially, we need to represent a list of units accessible from a module on the edge.  Creating a unique setting for each device does not make sense as devices may or may not be available.  For the time being, we are considering stringifiying a List to represent a collection and parsing that value out on the edge into a collection.

[2018-02-20 13:49] Hinton opened #376 "Creation Time Utc"
- **OS and version used:** Windows 10

- **SDK version used:** 1.6.2

# Description of the issue:

The C# SDK supports setting a `CreationTimeUtc` property on the `Microsoft.Azure.Devices.Client.Message` class, which afterwards shows up in the Event Hub endpoint of the IoT Hub as `iothub-creation-time-utc`.

I've been unable to find any references to this property in the [IoT Hub documentation](ht

[2018-02-20 19:07] CIPop commented on #372
Thanks @traghunathan . There isn't sufficient information to investigate in the bug - we'll need to repro on our side or have you collect a full-memory dump when this is happening.

We did have a fix for #319 that we plan to release shortly. It could be that the clients fail to refresh their CBS links.

For us to repro, please supply:
1. A simple project that creates and uses the 2000 clients (I'm

[2018-02-20 19:12] CIPop commented on #111
/cc @yzhong94 @nberdy

@tojuasp There is some documentation about IPv6 support in Azure: within this FAQ: https://azure.microsoft.com/en-us/pricing/faq/ pointing here:
https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-ipv6-overview

[2018-02-20 19:16] CIPop commented on #323
@SamuelDebruyn Please create a new bug including the Xamarin versions, etc.
With an up-to-date Visual Studio and Xamarin on Windows, I can't repro the problem.

[2018-02-20 19:19] CIPop commented on #375
Thanks for reporting @SdtBarbarossa !

1. What is the actual OS running on Raspberry PI? Windows IoT or a version of Linux? ( Microsoft Windows Server 2012 doesn't run on Pi as far as I know.)
2. Can you try running this with the latest version of the SDK? (1.6.1?)

[2018-02-20 19:20] CIPop commented on #54
Thanks for adding this @programmersommer !
I thought I've fixed the nuspec dependencies for the service SDK. Is the Amqp reference required?

[2018-02-20 19:26] CIPop commented on #376
@tameraw @pierreca @jspaith Is this property supported / planned on the Node and C SDKs? If not, is there a workaround?

@yzhong94 @simonporter PTAL

[2018-02-20 22:18] alextolp opened #377 "Provisioning Service - CreateEnrollmentGroupQuery always returns 0 results"
- **OS and version used:** Windows 10

- **SDK version used:** Microsoft.Azure.Devices.Provisioning.Service 1.0.1

# Description of the issue:
RegistrationStatusManager.CreateEnrollmentGroupQuery() always returns 0 members. Tracked the issue down to the following -

1) RegistrationStatusManager class calls GetGetDeviceRegistrationStatus() to build a path that looks something like: registrations/gr

[2018-02-21 00:56] CIPop commented on #377
Thanks for reporting @alextolp!

[2018-02-21 06:43] SdtBarbarossa commented on #375
Hello @CIPop ,

1. Windows Server 2012 is my Development enviroment.
    The Pi runs with "Raspian GNU/Linux 8 (jessie)"
2. i did the Update but this didnt solved the problem.

greetings,

SdtBarbarossa

[2018-02-21 07:17] amogh79 opened #378 "query.NextAsync() errors when the storage root key is empty string"
- **OS and version used:** Windows 10 <VERSION>

- **SDK version used:** latest solution from github and also the nuget package <VERSION>

# Description of the issue:

I am using QuerySpecification for CreateIndividualEnrollmentQuery. When the enrollments are received from the api I get a error for TPM based devices. On debugging the code it seems that the storage root key is returned as empty str

[2018-02-22 16:14] Loreno10 opened #380 "DirectMethod returns although Timeout is not satisfied"
- **OS and version used:** Windows 7 x64

- **SDK version used:** 1.5.1

# Description of the issue:
I am thinking to use Direct Methods as a way to check if devices are connected to IoTHub or not (if they are online). When invoking Direct Method I need to specify timeout (minimum 5 seconds). The problem is (well, for me it's actually good, because it returns results quickly) that timeout is not r

[2018-02-22 20:02] programmersommer commented on #54
@CIPop, Seems not anymore. Thank you for fixing

[2018-02-22 21:04] coltonf93 commented on #106
@ryan-z-johnson
This workaround successfully builds the Android application with the device client dependency but breaks when you actually try to use it.
e.g. add this constructor to the SharedLibrary class1 file and try building the android project.
[code]
It throws:
`Exception while loading assemblies: System.IO.FileNotFoundException: Could not load assembly 'Microsoft.Azure.Devices.Client, Vers

[2018-02-22 23:02] CIPop commented on #106
@coltonf93 I've seen issues when either Xamarin or Visual Studio are not up to date.
Also, can you confirm you're using the latest release of our SDK?

[2018-02-23 07:09] traghunathan commented on #372
Thanks @CIPop. We identified the reason for the issue. Please read below two points. It may help,
- We identified that **TTF Time in IoT hub is changed to 10 seconds**. I believe, message is queued up. So, Due to that, sdk not able to send ack for the message with in 10 seconds, as we running 2k devices in one instance. We received this above exception issue in ReceiveAsync().
- We tried to change

[2018-02-23 15:58] coltonf93 commented on #106
I'm building the example project/workaround found [here](https://github.com/ryan-z-johnson/AzureIoTXamarin).
Everything should be up to date ([Versions Used](https://jpst.it/1bkpE)).

[2018-02-23 18:19] WilliamBerryiii opened #381 "Device Explorer Shows "Disconnected" Status for Edge Devices"
The Device Explorer is always showing a "disconnected" status for IoT Edge devices, despite the the portal reporting a healthy edge status and still being able to view the Edge device's streaming telemetry in the Device Explorer.

[2018-02-23 19:54] CIPop commented on #381
@WilliamBerryiii and @pmuschi: DeviceExplorer doesn't support IoT Edge devices yet.

/cc @damonbarry @myagley @tameraw

[2018-02-23 20:02] damonbarry commented on #381
@WilliamBerryiii @pmuschi The reason the Device Explorer shows "disconnected" status is because the IoT Edge runtime connects to IoT Hub using the identity of the two core runtime _modules_ (Edge Agent and Edge Hub), not the identity of the device. So technically the device identity is disconnected, and the Device Explorer is accurately reflecting that. But it's misleading because, practically spe

[2018-02-23 20:42] pmuschi commented on #381
Ok, so how do we get back the functionality that it had at one point so that it shows the correct connection status? My confusion stems from the differing behavior between between the pre-compiled SDK version and what's available here.

[2018-02-23 21:10] damonbarry commented on #381
What functionality to you want to get back to? Device Explorer has never had support for IoT Edge devices.

[2018-02-23 21:13] pmuschi commented on #381
"Device Explorer Twin", packaged with the Azure IoT Hub SDK, shows the connected state correctly. What's changed?

[2018-02-23 22:03] damonbarry commented on #381
If I go to https://github.com/Azure/azure-iot-sdk-csharp/releases/tag/2018-1-23 and download/install SetupDeviceExplorer.msi, then start Device Explorer, enter my hub credentials, and select the Management tab, I see the following:
- The ConnectionState column has the value "Disconnected" for my IoT Edge device
![image](https://user-images.githubusercontent.com/9042469/36618991-0940b548-18a2-11e8-

[2018-02-23 22:07] WilliamBerryiii commented on #381
I guess the meta point here is that IoT folks are using Device Explorer as part of their development tool chain; and there's likely an expectation that as they go to explore Edge preview, their tools don't have to all shift.  Should we start an RFC for how it Edge might be integrated into the tool? Is this work underway already?

[2018-02-23 22:15] pmuschi commented on #381
I see the connection state change from "Connected" to "Disconnected" and back again as devices connect and disconnect from the MQTT broker.

![image](https://user-images.githubusercontent.com/21107054/36619458-e6d99b08-18bc-11e8-9cc4-04bdaa9150d5.png)

I can click "Refresh" and the connectionState will update.

I guess I really don't understand what's changed with the Edge preview and why this exi

[2018-02-23 22:34] CIPop commented on #372
@traghunathan I don't know what TTF Time is. Where did you change this option on IoT Hub?

/cc @mastermanu @simonporter @yzhong94

[2018-02-24 00:04] damonbarry commented on #381
@pmuschi In your screenshot, are there any IoT Edge devices in that list? Or are they all non-edge devices? Device Explorer will correctly show the connection state of non-edge devices. But it will always show IoT Edge devices as "Disconnected" even if the Device Details pane at https://portal.azure.com says they are connected.

[2018-02-24 05:57] PureWeen commented on #197
[LinkerProblem.zip](https://github.com/Azure/azure-iot-sdk-csharp/files/1754079/LinkerProblem.zip)

Yea I'm still having the issue with the following verions
[code]

The settings that make the issue come up for me are to set the Linking to
Sdk and User Assemblies
If you just set it to Sdk Assemblies then the error doesn't happen

[2018-02-25 18:13] sister4sale commented on #380
I had the same question and use case. I came to the conclusion that the service client is able to tell that the device is not connected and throws an error before the timeout would be able to be honored. If you want the invokeDeviceMethod call to have a time out you would need to use a cancellation token

[2018-02-26 13:15] pmuschi commented on #381
They are non-Edge devices, but that's my problem. My non-Edge devices are showing up as disconnected in the Management tab, even though they show their connection state properly when using the app bundled with the SDK. Why is that not working correctly anymore?

[2018-02-26 16:03] onionhammer opened #382 "RegistryManager .GetDeviceAsync() not returning device id"
When I retrieve a device via GetDeviceAsync() it comes back with all the things you would expect, a record with the Authentication object, he connection status updated time, etag, etc, but missing one critical thing - the actual *Id* is `null`

[2018-02-26 20:55] CIPop commented on #382
Thanks for reporting @onionhammer !

Is this device an Edge-preview device by any chance?
Have you tried using DeviceExplorer (that uses this API as well)? Does it show the ID there?

[2018-02-26 21:13] CIPop commented on #106
@coltonf93 We're not supporting PCL at all in either LTS or master.
This issue was due to the fact that we were shipping a PCL target within the NuGet package. The last releases do not have such PCL target.

After upgrading VS and Xamarin, you will need to also switch to the latest Xamarin.Forms template:
![image](https://user-images.githubusercontent.com/8635911/36695471-4e79121c-1af6-11e8-9606-f

[2018-02-26 21:43] rcastill opened #383 "[IoTEdge v2 Modules] Module setup"
I begin apologizing because this is more of a feature request/question than an issue.

I'm using the preview version of the SDK where a module can be created, but there are some things like the module docker's image that are not considered in the module's structure.

Same happens for routes definitions.

These two are steps when creating a module in the portal. So my question is if is there curren

[2018-02-26 21:56] damonbarry commented on #381
OK, it's sounds like we both agree that if you install Device Explorer from the MSI provided in the latest release, everything works.

But you're also saying that, when you build Device Explorer **from source code** and run it, the ConnectionState column is wrong (says devices are disconnected when they're really connected).

Which git commit are you building? Which branch?

[2018-02-26 22:19] pmuschi commented on #381
Yes! Sorry I've had such a difficult time communicating that.

Master branch with the last commit [5b64bed](https://github.com/Azure/azure-iot-sdk-csharp/commit/5b64bed02c872841c2d4fe089f31cc88b55c0402).

[2018-02-26 23:01] CIPop commented on #383
Thanks for reporting @rcastill : definitely no need to apologize!

@damonbarry @myagley PTAL

[2018-02-27 01:16] damonbarry commented on #383
@rcastill

A module's docker image is set in the `$edgeAgent` module's twin (desired properties), not a module's own twin.

If you want to update various aspects of the `$edgeAgent` and `$edgeHub` module twins via the SDK, you can use either:
- `RegistryManager.ApplyConfigurationContentOnDeviceAsync` to set the configuration on a single device (this is what the portal uses when you press the "Set

[2018-02-27 01:28] rcastill commented on #383
@damonbarry that was what I was looking for, thanks!

[2018-02-27 01:28] #383 closed

[2018-02-27 07:38] yzhong94 commented on #376
@Hinton Can you give some details on your use case for setting CreationTimeUtc?  Do you need it for downstream processing or for debugging?

[2018-02-27 08:10] Hinton commented on #376
@yzhong94 In our use case, the IoT device may be offline for some periods, during which we continue to collect telemetry data. Once the device gets connectivity to Azure IoT Hub we stream up the collected telemetry. This requires us to also send the timestamp of when the telemetry was collected.

[2018-02-27 10:21] WilliamBerryiii commented on #381
Given the conversation drift, I'm going to close this and open a new issue to specifically track adding Edge Device support into Device Manager.

[2018-02-27 10:21] #381 closed

[2018-02-27 14:23] onionhammer commented on #382
@CIPop Nope, this is not any sort of preview. It's not even a real device, it's a simulated device using the registry manager itself to add the device. Yes the ID does appear in the device explorer

[2018-02-27 18:57] damonbarry opened #384 "ConnectionState inaccurate in Device Explorer"
@pmuschi reported in #381 that the ConnectionState column in DeviceExplorer's Management tab is inaccurate **when he builds Device Explorer directly from source code** in master (5b64bed). But when he installs it from the [MSI](https://github.com/Azure/azure-iot-sdk-csharp/releases/download/2018-1-23/SetupDeviceExplorer.msi) provided in the latest release, the ConnectionState column accurately ref

[2018-02-27 18:58] damonbarry commented on #381
@WilliamBerryiii where we're at currently with this conversation, it's not about edge devices at all. @pmuschi is saying that the ConnectionState for regular devices is incorrect when he builds recent bits directly from the GitHub repo. When he uses the MSI file from the latest release, the ConnectionState is correct.

I just filed #384 for the Device Explorer issue. Thanks!

[2018-02-27 19:48] CIPop commented on #384
Thanks for reporting: I'm not aware of any changes to the Device Explorer or the service SDK since the last release. I'll give it a try.

[2018-02-27 19:52] CIPop commented on #378
Thanks for reporting @amogh79 !

@alextolp @mamokarz I thought that it isn't possible to create a TPM attestation without specifying the SRK.

[2018-02-27 20:14] #377 closed

[2018-02-27 21:57] WilliamBerryiii commented on #381
@damonbarry got it.  Should I create a new issue that specifically tracks the request for Device Explorer to work with Edge V2?

[2018-02-28 00:57] anhashia opened #385 "Automatic fallback to AMQP over WebSocket doesn't seem to happen"
- **OS and version used:** <VERSION>  Windows 10

- **SDK version used:** <VERSION>

# Description of the issue:
If AMQP connection times out or is blocked for some reason, the SDK should automatically fall back to AMQP over WebSocket. Automatic fall back doesn't seem to work and connection times out.

# Code sample exhibiting the issue:
[code]
# Console log of the issue:

[2018-02-28 03:13] CIPop commented on #380
@Loreno10 I tried this from DeviceExplorer and tried to call a method on a device that is not connected to IoT Hub.
I assume that the response from the IoT Service is immediate because it doesn't have any connection from the device. Since it can't initiate connections toward devices it will immediately time-out.

This is the error I'm getting from service when attempting to call a method on a devi

[2018-02-28 14:09] dmytro-gokun opened #386 "DeviceClient.GetTwinAsync throws KeyNotFoundException"
Hi,

I'm using Microsoft.Azure.Devices.Client.dll, version 1.6.2

Sometimes DeviceClient.GetTwinAsync throws KeyNotFoundException. When called second time, the exception disappears and everything seems to work as expected (or, at least, I think so).

System.Collections.Generic.KeyNotFoundException: The given key was not present in the dictionary.
   at Microsoft.Azure.Devices.Client.DeviceClient.<

[2018-02-28 16:51] damonbarry commented on #381
@WilliamBerryiii Sure!

[2018-03-01 01:44] coltonf93 commented on #106
I followed your recommendation, and it leads to [this exact issue](https://github.com/Azure/azure-iot-sdk-csharp/issues/373). I'll just follow up there.

[2018-03-01 19:06] zolvarga commented on #180
@gmileka

Sorry for the long delay.
I took a look at the issue and it looks like it has been fixed by a NewtonSoft library update.
The server always sends the correct UTC time back regardless of the reported format and the SDK Twin implementation parses it correctly.
Also you don't need to parse the object, use the Twin object for it. See the code below:

var propName = "singleRebootTime";
TwinCol

[2018-03-01 19:15] CIPop commented on #106
Thanks @coltonf93 ! Let's continue in #373.
I'm currently working on adding netstandard2.0 and removing the UAP builds to simplify the investigation and pick up more dependencies not available in netstandard1.3. Hopefully that will solve some of the Xamarin and UWP issues caused by some of the dependencies.

[2018-03-01 19:19] CIPop commented on #386
Thanks for reporting @dmytro-gokun ! We'll need to take a look.
@zolvarga PTAL

[2018-03-01 19:29] zolvarga commented on #386
@dmytro-gokun

Could you please provide the sample code you executed?

Thanks,
Zoltan

[2018-03-01 19:38] zolvarga commented on #386
@dmytro-gokun

I don't have a repro using this code:

                try
                {
                    for (int i = 0; i < 1000; i++)
                    {
                        Twin tw = await client.GetTwinAsync();
                        Console.Write(".");
                    }
                }
                catch (Exception e)
                {
                    Console.WriteL

[2018-03-01 19:42] #180 closed

[2018-03-01 19:44] oycbox commented on #31
Microsoft.Azure.Devices.Client 1.6.2 on .NET Core 2.0 console application still not supported? i got silent error out when running the Device sample code on dotnet core.

[2018-03-01 21:25] dmytro-gokun commented on #386
Well, there is nothing special about the hardware. In fact, our software is a gateway for a proprietary protocol, so it's a cloud service running on WindowsAzureGuestOS5.15 (targeting .NET 4.7.1). At the end of the day, its some Intel-based Azure hardware owned by MS.

About your code ... where is your "client" variable is coming from? In our case we do something like this ("_connectionString" is

[2018-03-01 22:45] CIPop commented on #31
@oycbox, we support NetStandard1.3 for a while and the console app should work. I'm currently working on a larger cleanup and port to netstandard2.0, available in the next release.

Please create a new issue and describe the bug. Please include a simple code example (or point at the sample that doesn't work).

[2018-03-01 23:19] zolvarga commented on #243
@tiagoshibata

Update: It is a server side issue and I reported to the service team.
I will update you with the timeline.

Best Regards,
Zoltan

[2018-03-01 23:49] zolvarga commented on #386
@dmytro-gokun

In my case I had an existing device and got the connection string for it.
I reated the client from the connection string using the following constructor:
var client = DeviceClient.CreateFromConnectionString(...)

I will investigate this issue further.

Best Regards,
Zoltan

[2018-03-02 08:37] dmytro-gokun commented on #386
@zolvarga Another idea: i think it only happens the very first time GetTwinAsync called. So, you have better chance reproducing, if you create a fresh Device ID with a pristine, untouched twin.

[2018-03-02 10:23] dmytro-gokun commented on #386
@zolvarga I've now analyzed our service logs, so plz ignore my previous comment, as it contains a wrong assumption. So here's what I've found:

1) During last 2 weeks it happened 3 times;
2) Every time it happened, it happened after the service restart, to the VERY first call to GetTwinAsync. All the following calls were successful;
3) Every time it happened to a different device. Whatever device

[2018-03-02 19:57] CIPop commented on #265
Since the exceptions don't crash the process and are there because we are not observing/awaiting tasks that either timed out or otherwise failed, we will postpone the fix for a later time.

[2018-03-02 19:57] #265 closed

[2018-03-05 07:01] yfakariya commented on #386
Hi, I also faced same problem. I hooked `AppDomain.FirstChanceException` event (as MYLAMBDA_FUNCTION bellow stack trace) and I saw following callstack via `Environment.StackTrace` in the event handler:

[code]

I think above callstack suggests:
* Root exception had been thrown in [AmqpTransportHandler.RoundTripTwinMessage](https://github.com/Azure/azure-iot-sdk-csharp/blob/master/device/Microsoft.

[2018-03-06 17:59] zolvarga commented on #340
@amogh79 @invinctus @CIPop

If we send invalid names in reported properties service will send back rejection with status 400.
The handling of those error codes were missing in the Device Client code.

I added handler for that, currently in PR. As soon it will be merged I will close this issue.

Best Regards,
Zoltan

[2018-03-06 23:57] #340 closed

[2018-03-08 19:01] zolvarga commented on #386
@dmytro-gokun @yfakariya

Thanks for the info guys, we are looking at it.

Best Regards,
Zoltan

[2018-03-08 20:30] CIPop commented on #110
Regardless of the language, the described problem is a [code smell](https://en.wikipedia.org/wiki/Code_smell) in your application's design. See chapter 8 of [Growing Object-Oriented Software, Guided by Tests](https://www.amazon.com/Growing-Object-Oriented-Software-Guided-Tests/dp/0321503627) for reasons to "Only Mock Types That You Own".

Larger SDKs (e.g. .NET Framework) are not providing public

[2018-03-08 20:30] #110 closed

[2018-03-08 20:32] CIPop commented on #61
I've reconsidered this. Please see my answer here: https://github.com/Azure/azure-iot-sdk-csharp/issues/110#issuecomment-371614649

[2018-03-08 20:32] #61 closed

[2018-03-08 20:38] CIPop commented on #360
@mariusmuntean I'm assuming this worked for you since there were no other comments.

[2018-03-08 20:38] #360 closed

[2018-03-08 20:41] CIPop commented on #353
@rcoccia given there are no other comments I'm assuming that @saivendra's answer fixed the problem. Closing for now. Please reopen if you still have issues.

[2018-03-08 20:41] #353 closed

[2018-03-08 20:43] CIPop commented on #385
Thanks for reporting @anhashia !

[2018-03-08 21:14] CIPop opened #391 "Assert hit in IoTHub DeviceClient MQTT transport when running E2E tests in Debug mode"
I see the following Assert hitting every time we run E2E tests in Debug:
https://github.com/Azure/azure-iot-sdk-csharp/blob/5b64bed02c872841c2d4fe089f31cc88b55c0402/device/Microsoft.Azure.Devices.Client/Transport/Mqtt/Util.cs#L192

The netcoreapp2.0 test runner considers this fatal and stops executing other tests.

Tracking the investigation of the assert with this issue as I need to temporarily r

[2018-03-09 00:42] #4 closed

[2018-03-09 00:42] #142 closed

[2018-03-09 00:42] #364 closed

[2018-03-09 10:13] amogh79 opened #392 "await query.NextAsync().ConfigureAwait(false) not throwing error when endorsement key is a non base64"
- **OS and version used:** Windows 10

- **SDK version used:** Latest Nuget version

# Description of the issue:

It seems that no error is returned from the SDK when the following code snippet runs. **_TpmAttestation.cs_** calls **_ParserUtils.EnsureBase64String_** and in such cases where enrollment entries are returned from the DPS with non base64 endorsement keys, it keeps me wondering why the

[2018-03-09 21:14] idavis opened #394 "Cannot run tests unless in an Administrator console"
- **OS and version used:** <VERSION>
Windows 10 Enterprise 1709
- **SDK version used:** <VERSION>
master cd93e75fd8914b6247f23eb6a5cfd7aea459676f

# Description of the issue:

When running the build in a standard console, the build fails. When running the build in an elevated console, it succeeds.
# Code sample exhibiting the issue:

# Console log of the issue:

[code]

The file contains many erro

[2018-03-10 22:34] AArnott commented on #315
Incidentally, the issue is due to a bug in the Windows SDK.
We have [a workaround in PInvoke.Kernel32](https://github.com/AArnott/pinvoke/pull/378) now, so if you're facing this problem, you can just install (or depend on) the latest version of PInvoke.Kernel32 and your app should start working again.

[2018-03-12 07:08] Meandron opened #395 "DeviceClient.SendEventAsync() throws exception after update to sdk version 1.6.2"
- **OS and version used:** <VERSION>
Windows 7, Visual Studio 2013, .net Framework 4.5.2
- **SDK version used:** <VERSION>
1.6.2

# Description of the issue:

All I did was to update the SDK from version 1.2.4 to 1.6.2.
Before being able to do so i had to install System.Linq.Queryable version 4.3 as the referenced version 4.0 by the SDK requires Nuget 3.x -> but I'm on VS2013 and cannot upgrade Nu

[2018-03-12 07:52] Meandron commented on #395
I did some more testing - and now it works:

What I did:
- Revert project (SDK version 1.2.4)
- Installed System.Linq.Queryable, Version 4.3
- Installed Azure Client SDK, version **1.5.2**

[2018-03-12 12:07] TheLever commented on #197
I still have this issue even after selecting "Sdk Assemblies Only". This is with Amqp 2.2.0. Not having the ability to build Release is a huge problem.

[2018-03-12 21:05] CamSoper opened #397 "Inline Documentation: Microsoft.Azure.Devices.AuthenticationMechanism is missing the Type property"
Hi there! I'm the maintainer of the reference docs for Azure .NET SDKs.  This is a reference doc issue that requires a change to the underlying `///` comments.

From @DOliana (https://github.com/Azure/azure-docs-sdk-dotnet/issues/427):

cc: @dominicbetts

[2018-03-13 10:53] bderuijsscher opened #400 "Devices Client library causes .NET Native runtime failure when targetting Windows IoT Core 16299 for ARM"
It seems like an incompatibility issue with .Net standard 2.0. The error generated runtime is:

"The Program [XXX] has exited with code -1073741511 (0xc0000139) Entry Point Not Found"

Steps to reproduce:

- Create a new blank ARM project targetting Windows (IoT Core) 16299 for ARM. Set both minimum and target version to 16299, it will use .NET Standard 2.0
- Include the Microsoft.Devices.Client N

[2018-03-13 14:01] SdtBarbarossa commented on #375
Hello @CIPop ,

are there any news regarding this issue?

greetings,

SdtBarbarossa

[2018-03-13 20:57] CIPop commented on #400
Duplicate of #315. Fix will come up in the next release (on which I'm working on today).

[2018-03-13 20:57] #400 closed

[2018-03-13 20:58] CIPop commented on #397
Thanks @CamSoper . I've added FXCop warnings and there are several public APIs missing comments.

[2018-03-13 21:03] CIPop commented on #395
Thanks for reporting @Meandron ! I've cleaned up several unused dependencies in master and am currently working on a release.
Hopefully the new package will address the issue for IoT Hub with the net451 binary (should work as expected on your target of net452).

[2018-03-13 21:06] CIPop commented on #394
/cc @abhipsaMisra

@idavis We need a better story for our test prerequisite documentation.
Please follow the prerequisite installation here: https://github.com/Azure/azure-iot-sdk-csharp/tree/master/iothub/service/tests

[2018-03-13 21:09] CamSoper commented on #397
@CIPop - Appreciate the assist!  🙂

[2018-03-14 09:47] bderuijsscher commented on #400
Thanks for the notification, I can confirm that the newest 1.7.0 release of has solved the problem! Thanks again.

[2018-03-14 12:03] amogh79 commented on #378
Any idea when this fix will be released to nuget package? We are using nuget package for our project and need this to work.

[2018-03-14 16:05] alextolp commented on #378
@CIPop only the EK is required by the enrollment. SRK is only needed at runtime.

[2018-03-15 10:28] amogh79 commented on #378
@alextolp Yeah right. When creating an TPM enrollment from the the SDK or UI storage root key is not  required, having said that it shouldn't be a required parameter when doing a get. Can this be fixed asap and released in the nuget? I am working on project with tight deadlines.

[2018-03-15 16:52] Sbou opened #404 "Multiple connections for one deviceId"
Hi,

I did some tests and I saw that it's possible to have several connections to the IoTHub for the same deviceId.

This state has several impacts :
- The ConnectionState is not reliable
- When I send a cloud 2 device message, it is not delivered until there is only one connection per device.

Is it possible to know if the IoTHub already have a connection to a specific device Id?
Is it possible t

[2018-03-15 23:47] CIPop commented on #315
Thanks @AArnott !

* For V1.7.0 this should not be a problem.
* For our LTS, please manually upgrade/add the latest PInvoke.Kernel32 version to your project to work-around.

[2018-03-16 00:09] CIPop commented on #395
@Meandron could you please try again with V1.7.0? We've changed the way we build&pack the binaries.

[2018-03-16 00:10] CIPop commented on #371
Fixed in LTS release 1.6.3 (cherry-pick: https://github.com/Azure/azure-iot-sdk-csharp/commit/a4fa1dedb10a8bc8c88dc4eed00a3ede7978dbfa)

[2018-03-16 00:10] #371 closed

[2018-03-16 00:12] CIPop commented on #404
I'm not sure we support this scenario.
@sergaz-msft @mastermanu @simonporter @tameraw @yzhong94 This is a valid scenario in cases where a device is decommissioned but the swap is not atomic. Any recommendations?

[2018-03-16 00:15] CIPop commented on #139
@wmattlong please reopen if this is still an issue with the latest SDK.
If yes, do you see the same throughput issues with any other SDK (C/Java/Node)?

[2018-03-16 00:15] #139 closed

[2018-03-16 00:17] CIPop commented on #193
@ryanzjohnson already ported the code to use the new EventHub API.
We've decided offline to keep the Obsolete API tests in parallel and remove the tests in v2 only.

[2018-03-16 00:17] #193 closed

[2018-03-16 00:20] CIPop commented on #197
Thanks for the notification @TheLever . Reopening this for now until I get some time to resume the Xamarin sample and test infra.

Meanwhile, could you give the latest version a try (1.7.0, etc)? I've removed all PCL #ifdefs and removed the uap10.0 builds in favor of netstandard2.0.

[2018-03-16 00:35] CIPop commented on #375
@SdtBarbarossa sorry, I didn't get a chance to try this out on my device. If this is urgent, please open a support ticket within your Azure subscription.
From the log it appears that your device looses connectivity. Even if that happens, our Retry mechanism should reconnect so this is a bug.

I noticed you are using an unsupported version of DeviceClient (our LTS is at 1.6.3 today and master is at

[2018-03-16 01:53] Hammatt opened #406 "Unable to create IoT Edge Devices via Azure IoT service SDK for C#"
- **OS, version, SKU and CPU architecture used:** <VERSION> Windows 10 Desktop x64
- **Application's .NET Target Framework :** <NETVERSION> netcoreapp2.0
- **Device:** <DEVICETYPE> n/a
- **SDK version used:** <VERSION> Microsoft.Azure.Devices 1.16.0-preview-001

# Description of the issue:
I'm able to add new IoT devices to the hub using ```RegistryManager.AddDeviceAsync```,
but can't find a way t

[2018-03-16 07:06] Meandron commented on #395
@CIPop:
I tried with V1.7.0. and fortunately could not reproduce the issue I'd reported.
Thank you!

However what could be improved is the reference to System.Linq.Queryable.
With Nuget 2.x it is not possible to install the SDK as System.Linq.Queryable V4.0 requires Nuget 3.x.
I still had to install the latest version (=V4.3) of that package, which requires Nuget 2.x only, before I could finally i

[2018-03-16 08:16] androidand commented on #31
Any news for .NET Core 2.0 and Azure IoT? Would be awesome to se an example with a .NET Core API app.

[2018-03-16 18:56] henry1111 opened #407 "Exception throwed when calling RegisterAsync of ProvisioningDeviceClient in UWP environment"
OS Windows 10 IOT Core, OS version 10.0.16299.248, x64
Application's .NET Target Framework :
  NetCore UWP

DEVICETYPE:  Raspberry PI3, Upboard
SDK version used:
    Azure.Devices.Client v1.7.0
    Azure.Devices.Provisioning.Client  v.1.1.0

# Description of the issue:
using x509 certificate for security, the following line throw exceptions regardless HTTP, MQTT or AMQP transport are used.

Device

[2018-03-16 23:24] CIPop commented on #31
@androidand Yes! We now have full .Net Standard 2.0 starting with the [3-18-2018 release](https://github.com/Azure/azure-iot-sdk-csharp/releases/tag/2018-3-13)!
This was a complete overhaul of the build system, conditional compilation, etc. Please let us know what you think!

Please open separate issues if you find bugs.

[2018-03-16 23:26] CIPop commented on #407
Thanks @henry1111 for the detailed report! I've added this to the Xamarin stabilization effort.

[2018-03-17 19:16] PureWeen commented on #197
it looks like with the latest 15.6 tooling it also gives better error messages when the linker fails.

I installed 1.7.0 and now I am able to compile but unfortunately I keep getting this exception when trying to deploy

[code]
Still looking around seeing if there's someway to get around this

[2018-03-17 19:32] PureWeen commented on #197
Which looks like a dependency that was added in version 1.7.0

[2018-03-19 09:04] dmytro-gokun commented on #386
@zolvarga Okay, here's an update. I've recently updated Microsoft.Azure.Devices.Client.dll to 1.7.0
The exception is not gone, so the bug has not been fixed. But, now i see one more exception. Also, throw from time to time from the same GetTwinAsync:

`
Microsoft.Azure.Devices.Client.Exceptions.IotHubException: {"errorCode":409002,"trackingId":"5912ff625167484da77b4e968d327408-G:14-TimeStamp:03/19

[2018-03-19 10:02] MujasSam commented on #106
Severity	Code	Description	Project	File	Line	Suppression State
Error		Exception while loading assemblies: System.IO.FileNotFoundException: Could not load assembly 'Microsoft.Azure.Devices.Shared.PCL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35'. Perhaps it doesn't exist in the Mono for Android profile?
File name: 'Microsoft.Azure.Devices.Shared.PCL.dll'

@CIPop

I am facing th

[2018-03-19 18:28] CIPop commented on #106
@MujasSam We don't support the PCL binary anymore.
Please try with 1.7.0 which added netstandard2.0 support.

[2018-03-19 22:23] CIPop commented on #397
@CamSoper I don't think the title is sufficient here. We already have documentation on both `AuthenticationMechanism` and `AuthenticationType`.

[2018-03-19 23:32] andrew-laughlin opened #414 "UI is unresponsive while reading from IoT Hub"
Release: 2018-3-13
OS: Window 10 x64

When monitoring data on an IoT hub, the UI becomes completely unresponsive. For example, the user cannot select "Cancel" to stop the download of events.

Scenario:
I'd like to see a range of data stored on an IoT hub. From the "Data" tab I set a start time to the beginning of the desired range (say 24 hours ago), then click "Monitor". Since an end range cannot

[2018-03-20 00:20] CIPop commented on #414
@andrew-laughlin Our SDK doesn't have an UI. Please re-open using the Issue Template and specifying exactly what product you're referring to.

If this is about the Azure IoT Portal please use the question mark in the top right hand to create a service support request.

[2018-03-20 00:20] #414 closed

[2018-03-20 00:55] CIPop commented on #376
@Hinton please use the [support options ](https://github.com/Azure/azure-iot-sdk-csharp#need-support ) or equivalents in the C and NodeJS repos to track this request.

@dominicbetts / @yzhong94 please add the following system property documentation within https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-messages-construct :
https://github.com/Azure/azure-iot-sdk-csharp/blob/cd93e75f

[2018-03-20 01:08] CIPop commented on #330
Closing: I believe that the only issue here was the problem in the Powershell cert generator.
If you believe that the documentation can be further improved, please reopen.

[2018-03-20 01:08] #330 closed

[2018-03-20 02:28] abhipsaMisra commented on #378
@amogh79 Thank you for reporting this. I can see how an empty storage root key would throw this error, and I am working to get this fixed asap.

[2018-03-20 16:09] SergiyIvanovAtGTI opened #416 "Register of devices"
- **OS, version, SKU and CPU architecture used:** <VERSION>
- **Application's .NET Target Framework :** <NETVERSION>
- **Device:** <DEVICETYPE>
- **SDK version used:** <VERSION>

# Description of the issue:

Could you change interface, please, so it should be possible to register > 1000 devices in less than 1 minute?

# Code sample exhibiting the issue:

# Console log of the issue:

[2018-03-20 19:41] zolvarga commented on #350
@davehutchy

I have tested with the latest client and here is what is happening:
The client will not fire the ConnectionStatusChange event right away when the network is disconnected.
But it will fire the event if it tries to send/receive something on the wire. Currently there is a retry mechanism which will trigger the re-connection after 4 min. and that is when the client detects the network pro

[2018-03-21 01:29] #217 closed

[2018-03-21 01:29] #226 closed

[2018-03-21 01:29] #227 closed

[2018-03-21 01:29] #273 closed

[2018-03-21 01:29] #355 closed

[2018-03-21 01:29] #394 closed

[2018-03-21 01:29] #397 closed

[2018-03-21 01:42] CIPop commented on #406
@myagley @damonbarry Is there any preview support for IoT Hub Service SDK preview to create Edge devices today?

[2018-03-21 01:50] CIPop commented on #416
/cc @nberdy @alextolp

@SergiyIvanovAtGTI you should be able to register multiple devices in parallel today. Each device registration is normally done within a few seconds.
If you are seeing slower response times, please open a support ticket within your Azure subscription to further investigate.

Closing since there isn't sufficient information: please fill in the new issue template with the requ

[2018-03-21 01:50] #416 closed

[2018-03-21 01:51] CIPop commented on #404
@Sbou I've confirmed this internally: we don't support this scenario. You must ensure a single connection for each DeviceID.

[2018-03-21 01:51] #404 closed

[2018-03-21 21:31] zolvarga commented on #336
@tylerl0706

Please verify with the latest version of our client. I have tested your sample code with it and it works fine.
We are using the latest .Net Core and it fixed the issue.

Best Regards,
Zoltan

[2018-03-21 22:17] damonbarry commented on #406
Sure. Something like this should do it:

[code]

[2018-03-21 22:57] Hammatt commented on #406
Perfect, thanks!

[2018-03-21 22:57] #406 closed

[2018-03-22 09:20] sebader opened #418 "GetTwinAsync() not returning any values except for Properties"
Hi,
as I already posted on [Stackoverflow](https://stackoverflow.com/questions/49407045/device-twin-not-fully-returned-with-gettwinasync/), I think there is a bug in the .NET Device Client SDK when using the DeviceClient.GetTwinAsync() method:
GetTwinAsync() only returns the Properties field (both Desired and Reported). Any other fields such as DeviceId or Tags are always NULL.

OS: Windows 10 and

[2018-03-22 12:45] Meandron opened #419 "DeviceClient.OpenAsync() is not working as expected"
- **OS, version, SKU and CPU architecture used:** <VERSION>
Windows 7
- **Application's .NET Target Framework :** <NETVERSION>
.Net Framework 4.5.2
- **Device:** <DEVICETYPE>
- **SDK version used:** <VERSION>
SDK version 1.7.0

# Description of the issue:

- DeviceClient.OpenAsync() seems not to validate the connection string that has been passed in the course of instance creation.  I would expect

[2018-03-22 12:46] benclerix-cegeka commented on #373
Can you give an ETA or workaround on this?

[2018-03-22 12:58] dominicbetts commented on #376
@CIPop - I've merged the doc change -it'll be published later today. I don't have permission to close this issue - can you do it? Thanks

[2018-03-22 14:10] dmytro-gokun opened #420 "DeviceClient.UpdateReportedPropertiesAsync throws exceptions"
Windows x64 (Azure),
Microsoft.Azure.Devices.Client, 1.7.0

Calls to DeviceClient.UpdateReportedPropertiesAsync fail with the following exceptions:

1)
`
System.AggregateException: One or more errors occurred. ---> Microsoft.Azure.Devices.Client.Exceptions.IotHubException: {"errorCode":409002,"trackingId":"aca6799496ea44a797428815953899c6-G:15-TimeStamp:03/22/2018 10:27:31","message":"Conflict","t

[2018-03-22 14:17] Heris19 opened #421 "Device client not working on UWP using AMQP"
- **OS, version, SKU and CPU architecture used:** <VERSION> Windows 10 Desktop x64
- **Application's .NET Target Framework :** <NETVERSION> uap10.0, 10.0.16299.0
- **Device:** <DEVICETYPE> Development machine
- **SDK version used:** <VERSION> Master branch, commit dcc9be4c Adding dev guide and retry policy documentation. / Microsoft.Azure.Devices.Client v1.7.0

# Description of the issue:
DeviceCl

[2018-03-22 22:21] CIPop commented on #418
Thanks @seb-dataworks !
@zolvarga PTAL.

[2018-03-23 00:04] CIPop commented on #373
@benclerix-cegeka At the moment this seems to be a Xamarin compiler issue.
We need more time to create a new sample using the latest templates and see if we can somehow work-around the issue. Unfortunately I can't say when that's going to be ready...

[2018-03-23 00:04] CIPop commented on #376
Thanks @dominicbetts !

[2018-03-23 00:04] #376 closed

[2018-03-23 00:06] CIPop commented on #420
@zolvarga PTAL
@simonporter FYI.

[2018-03-23 01:20] abhipsaMisra commented on #378
@amogh79 I've submitted a PR with the changes, which should fix the error received on passing empty SRK. It should be available as a part of the next release.
Also, just to let you know, I checked with the DPS team, and currently we do not support advanced queries in `QuerySpecification` (queries with a WHERE clause); i.e. we support only `select * from enrollments`

[2018-03-23 06:40] benclerix-cegeka commented on #373
@CIPop Ok thanks for the fast feedback!

[2018-03-23 07:55] dmytro-gokun commented on #386
@zolvarga This new exception from GetTwinAsync is very similar to the first exception I described here: https://github.com/Azure/azure-iot-sdk-csharp/issues/420 I think these two issues are related.

[2018-03-23 12:03] mathisharp opened #423 "Operation timeout expired exception while sending telemetry data continuously."
Hi SupportTeam,

We are using DeviceClient of Azure IOT hub to send data to device.

- **OS used:** <VERSION> Windows server 2012

- **Protocol used:** <VERSION> Amqp_WebSocket_Only

- **SDK version used:** <VERSION> IoT Device Client 1.7.0

- **programming language used:** <VERSION> C#

- **IOThub Units:** <VERSION>  1 units

- **Quota/Standard:** <VERSION>  S1

- **DeviceConnected:** <VERSION> 3

[2018-03-23 13:18] amogh79 commented on #378
@abhipsaMisra Thanks for the update. Please let me know when the next version is released, as a starter I am ready to live with preview release we well.

[2018-03-23 13:29] amogh79 opened #424 "CreateEnrollmentGroupQuery with query.NextAsync() returns group info without the list of devices contained in the group"
- **OS, version, SKU and CPU architecture used:** <VERSION>  Windows 10
- **Application's .NET Target Framework :** <NETVERSION>  .Net 4.6
- **Device:** <DEVICETYPE>
- **SDK version used:** <VERSION>  Latest version from the Nuget

# Description of the issue:

I have exposed custom apis for DPS using DPS SDK. There is an api which returns the groups from the DPS. I observed that the when following

[2018-03-24 00:35] #378 closed

[2018-03-24 22:51] tylerl0706 commented on #336
Just curious, what was fixed? I thought I figured out what I was doing wrong 😅

[2018-03-25 15:59] Perun85 opened #425 "Microsoft.Azure.Devices.Client.Exceptions.UnauthorizedException when using UploadToBlobAsync() - CA authenticated device"
**Description:**
When trying to upload file to blob storage connected to IoT hub I am getting following exception:
**Microsoft.Azure.Devices.Client.Exceptions.UnauthorizedException**.

**Details:**
Device authentication mechanism: **CA certificate**
Protocol: **MQTT**
.NET Framework: **net451**
Library: **Microsoft.Azure.Deivces.Client 1.7.0**
Method: **DeviceClient.UploadToBlobAsync()**
OS Versio

[2018-03-26 16:46] zolvarga commented on #336
@tylerl0706

I don't know what did you do wrong. I just tested it with out sample code and it worked.
Because there was no changes in our client I blamed on NET Core.
The good part - it works! :)

I am closing this issue now.

Best Regards,
Zoltan

[2018-03-26 16:46] #336 closed

[2018-03-26 20:12] CIPop commented on #421
Thanks for reporting @Heris19 . I've added this to our Xamarin stabilization project.

[2018-03-26 20:18] CIPop commented on #423
Thanks for reporting @mathisharp . Since the other hubs and devices continued to transmit it doesn't sound like a network issue so we'll need to look at this from the hub side.

To investigate we would need private information such as the Hub, Device ID and time when you observed this. We do not recommend adding Hub/DeviceID details to GitHub.
Please follow the [support guide ](https://github.com/

[2018-03-26 20:18] #423 closed

[2018-03-26 20:47] CIPop commented on #425
Thanks for reporting this @Perun85 ! We need to further investigate why this doesn't work.

[2018-03-26 21:11] CIPop commented on #424
/cc @nberdy @alextolp
Thanks for pointing this out @amogh79 ! We're missing a sample for querying the registration state for a particular group:

[code]

[2018-03-26 23:17] #424 closed

[2018-03-27 00:15] tylerl0706 commented on #336
Oh basically it was a casting issue. The full details are in the comment above:
https://github.com/Azure/azure-iot-sdk-csharp/issues/336#issuecomment-358414793

[2018-03-27 00:51] CamSoper commented on #397
@CIPop Fair enough, let's close it out unless @DOliana has any further comment.

[2018-03-27 05:37] amogh79 commented on #378
Is this change published to Nuget packages? Please let me know so I can update the nuget packages.

[2018-03-27 07:18] Perun85 commented on #425
One more thing. I also had issue with sending files via DeiceClient from .NET Core application when I used device authenticated by self signed certificate.

Here is the test code that works when executed on net451 runtime but not on netcoreapp2.0:

NOTE: Executed inside the main method of  netcoreapp2.0 console application.

[code]

[2018-03-27 10:17] pizerg opened #431 "DeviceNotFoundException: Not registered when device is working and registered"
- **OS, version, SKU and CPU architecture used:** Windows 10 Desktop and Server x64
- **Application's .NET Target Framework :** net451 and Java 1.8
- **Device:** Desktop computer / Azure Server
- **SDK version used:** Microsoft.Azure.Devices 1.6.0, Microsoft.Azure.AMQP 2.2.0, Microsoft.Azure.Devices.Shared 1.5.0, Java iot-device-client 1.9.0

# Description of the issue:
As I'm not sure which end i

[2018-03-27 13:54] jfversluis commented on #373
A workaround seems to be to set the Linker option to "Sdk and User assemblies" under the Android options in the properties of the Droid project. Not sure what the reason is but the `System.Runtime.CompilerServices.Unsafe.dll` doesn't seem to be copied to the output folder, maybe other binaries as well.

Copying them manually, packing the APK and deploying it should probably work as well.

[2018-03-27 17:14] krishnasingh1818 opened #432 ""Authorization required, resend request using supplied key","
hi,

Instead of SDK am directly calling rest api to enroll device and then register it.

Enroll call to rest api works fine but register call fails with error ""Authorization required, resend request using supplied key"" + gives me keyname and authenticationkey in error response.

I intercepted using fiddler how sdk makes register call and noted that sdk first gets 401 with above error and then it

[2018-03-27 18:54] CIPop commented on #378
@amogh79 not yet, this is not yet released in NuGet packages.
In general, you can check the last release date vs the issue getting closed to verify if the change already got released.

[2018-03-27 18:56] CIPop commented on #425
@Perun85 the second issue sounds similar to https://github.com/azure/azure-iot-sdk-csharp/issues/259.

[2018-03-27 19:17] CIPop commented on #431
@pizerg Is this happening only on a particular HUB or any hubs?
Could you please try to call the method using the Azure Portal?

[2018-03-27 19:19] CIPop commented on #432
@krishnasingh1818 this is not the right place to report this. This GH repo is exclusively for the .NET SDK.
See https://github.com/azure/azure-iot-sdk-csharp#need-support on how to open a Support Request from within your Azure subscription.

[2018-03-27 19:19] #432 closed

[2018-03-28 10:13] sgmbh commented on #373
@jfversluis it looks like it's a workaround for some projects. In my "steps to reproduce"-project the app didn't crash anymore. But in my real app I get now "The LinkAssemblies task failed unexpectedly". I look into that, perhaps I find a fix for that.

[2018-03-28 10:21] jfversluis commented on #373
@sgmbh it seems to be a trade-off indeed and not working for all projects. I found the same issue in several other places with a couple of workarounds, see the links underneath.

https://developercommunity.visualstudio.com/content/problem/152947/xamarin-android-run-error-could-not-load-assembly.html

https://github.com/aspnet/EntityFrameworkCore/issues/8922#issuecomment-345375260
(scroll down for

[2018-03-28 15:33] pizerg commented on #431
@CIPop It happened only on one HUB, it was created quite long ago so maybe that was the cause of the issue. I've tested the same scenario with a freshly created HUB and it works perfectly so as my original HUB had just less than 100 devices registered I've decided to migrate all of them to the new one.

I'm not closing the issue though as it might affect to other customers' old HUBS.

[2018-03-28 18:40] CIPop commented on #431
@pizerg thanks for finding the root cause! We can't talk about private information here. Could you please open a [Support Request](https://github.com/azure/azure-iot-sdk-csharp#need-support) from your subscription and add IoT Hub and device details for our service team to take a look?

/cc @simonporter @yzhong94 FYI

[2018-03-28 18:40] #431 closed

[2018-03-28 18:42] CIPop commented on #431
For anyone hitting this issue, please open a [Support Request](https://github.com/azure/azure-iot-sdk-csharp#need-support) and specify the IoT Hub and DeviceID with the problem also referencing this GitHub issue.
_Do not_ share your subscription, hub or device information on GitHub.

[2018-03-29 08:21] sgmbh commented on #373
Thanks @jfversluis for this links. Actually I tried exactly this steps before because I also saw this error : "System.Runtime.CompilerServices.Unsafe" (third last line in my fulllog file). Although I don't use Entity Framework, it looks like the problem seems related.

[2018-03-29 08:25] ChakraSpice opened #434 "Using Microsoft.Azure.Devices.Client in Xamarin.Forms Android project"
I made a Xamarin.Forms project. .NET Standard is the code sharing strategy. Using Visual Studio, Windows 10.

I am able to send messages to the IoT Hub on the UWP app, but not from Android. Build succeeds, but it doesn't deploy right on the device.

# Description of the issue:
I installed 1.7.0 version of Microsoft.Azure.Devices.Client NuGet package.

# Code sample exhibiting the issue:

    publi

[2018-03-29 09:16] sgmbh commented on #373
@benclerix-cegeka I tried your workaround but unfortunately I get the same error "link assemblies task failed" in a slightly other way:

[2018-03-29 10:26] yfakariya commented on #350
@zolvarga @davehutchy

As far as I tested own small program, these issue ([disconnection notification and restore/disabled notification are fired at once](https://github.com/Azure/azure-iot-sdk-csharp/issues/350#issue-291445472), and [some operations (e.g. DirectMethod) are not working after recovery](https://github.com/Azure/azure-iot-sdk-csharp/issues/350#issuecomment-363047802) ) are not resolv

[2018-03-29 14:48] craylward commented on #337
Hitting this exception when using ServiceClient in .NET Core 2.0 project running on macOS compiled with VS for Mac. Works fine on Windows 7 with VS 2017.

macOS Sierra (10.12.6)
.NET Core 2.1.101

``System.AggregateException: "One or more errors occurred. (Timed out trying to create FaultTolerantAmqpObject`1)" ---> System.Exception {System.TimeoutException}: "Timed out trying to create FaultTolera

[2018-03-29 15:24] amogh79 commented on #424
@CIPop Thanks for the update you made by day, now I can get the devices within a group too....yaaaay

[2018-03-29 15:51] amogh79 opened #435 "Availability of routes and endpoints on Device Provisioning Service"
- **OS, version, SKU and CPU architecture used:**  Windows 10
- **Application's .NET Target Framework :** .net core and .net 4.5.6
- **Device:** TBD
- **SDK version used:** Latest from nuget

# Description of the issue:
Hi,

I want to know if DPS will ever have routes and endpoints made available on it (similar to IoT Hub). We are creating apis on top of the DPS to be used by the customer's custom

[2018-03-29 16:31] craylward commented on #434
Try replacing the contents of
{USER}\.nuget\packages\system.runtime.compilerservices.unsafe\{VERSION}\ref with contents of {USER}\.nuget\packages\system.runtime.compilerservices.unsafe\{VERSION}\lib

[2018-03-29 17:41] CIPop commented on #435
@nberdy @alextolp PTAL

[2018-03-29 18:26] amogh79 commented on #435
@CIPop Thanks for routing the issue :)
@nberdy : Thanks for your response. What I mean to say here is like the IoT hub which allows us to act on device lifecycle events is there a way (or is planned) in DPS to capture events like enrollment (individual or group) added, updated, enabled/disabled, removed, device added to group, device removed from group etc.

[2018-03-29 18:37] nberdy commented on #435
@amogh79 Thanks for the clarification! Right now we log errors via Azure diagnostics settings. One of the points of discussion within the team is how chatty logging successful events would be and what the best way for our customers to consume them. I don't have anything I can share at this time for DPS, but I'd love to hear your thoughts on consuming these events.

[2018-03-29 21:37] jillcary opened #438 "Should SetDesiredPropertyUpdateCallbackAsync only send updates for Desired Property changes?"
- **OS, version, SKU and CPU architecture used:** Windows 10 Desktop x64
- **Application's .NET Target Framework :** netcoreapp2.0
- **Device:** Azure Vm

# Description of the issue:
We are consuming `SetDesiredPropertyUpdateCallbackAsync` and have found from the documentation that a change notification will be fired any time there is a change to either the desired or reported properties.

From [d

[2018-03-30 04:22] alextolp commented on #435
One other question - which of the APIs are missing the paging functionality?

[2018-03-30 07:46] amogh79 commented on #435
@nberdy Its more about maintaining a association between a group created on DPS and the division to which DPS is agnostic (and it should be), plus consider a situation wherein there is a group which has millions of devices and the api that we have built on top of DPS makes a get on the group to get the group info and the device list within it. In this situation if I have a shadow copy of the group

[2018-03-30 08:04] amogh79 commented on #435
@alextolp I am using the DPS SDK but didn't find a way to get paginated results e.g. all the individual enrollments from the DPS.

[2018-03-30 08:51] ChakraSpice commented on #434
I tried that, and that doesn't work.

[2018-03-30 13:42] amogh79 commented on #435
@alextolp Update: I was able to find how to paginate with a continuation token using query.NextAsync(continuationToken).ConfigureAwait(false);

[2018-03-30 19:24] termocontrole opened #439 "Token and TLS handshake failure"
- **OS, version, SKU and CPU architecture used:** Raspbian Jessie
- **Application's .NET Target Framework :** netcoreapp2.0
- **Device:** Raspberry PI3

# Description of the issue:
Hi,

I'm using a **Raspberry Pi** with **Azure IoT Edge V2** and the **modbus module**, in the beginning the modbus module had some issues, but we were able to track and solve it. Later the IoT Edge Hub module presented

[2018-03-30 23:19] mjmostachetti opened #440 "DeviceClient error GetTwinAsync() - .NET UWP"
I'm running a UWP app on Windows 10 computer w/ UWP version 16299.

Microsoft.Azure.Devices v1.6.0
Microsoft.Azure.Devices.Client v1.7.0

I'm following the code in this demo:
https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-csharp-csharp-twin-getstarted

I wrap the below code in a try catch and it produces the error beneath. I've tried the different CreateFromConnectionString methods for the

[2018-04-02 10:03] uma075 opened #441 "Value can not be null, Parameters: Parameter name: parameters"
# Description of the issue:
On running GroupCertificateVerificationSample getting this error.

`System.ArgumentNullException: Value cannot be null.
Parameter name: parameters
   at Org.BouncyCastle.Crypto.Parameters.ParametersWithRandom..ctor(ICipherParameters parameters, SecureRandom random)
   at Org.BouncyCastle.Crypto.Operators.Asn1SignatureFactory.CreateCalculator()
   at Org.BouncyCastle.X50

[2018-04-02 15:41] termocontrole commented on #439
Hi,

Bad news from the **edgeHub module**: I let the system running on the weekend and I got some `Systems Exception`. I don't know if was the `TLS handshake failed` that threw those errors, but I believe it was :/. After the reboot (that I don't know if was forced by the error), the **data stopped from being received by the module and sent to the cloud** (the modbus module continued to work corre

[2018-04-02 22:14] #440 closed

[2018-04-03 00:48] CIPop commented on #439
@myagley @damonbarry PTAL

[2018-04-03 00:54] v-tbert opened #443 "SetMethodHandlerAsync and SetMethodDefaultHandlerAsync cause failures on reconnect"
I have created a simple repro demonstrating that registering a handler with SetMethodHandlerAsync and/or SetMethodDefaultHandlerAsync causes consistent connection failures upon subsequent connection attempts.

The sequence is:
- Manually create a device in IoThub using Device explorer or similar.
- Run example code using connection string from device above, registering all the callbacks. This work

[2018-04-03 04:06] rizwaans commented on #122
Hi, please check if you can help with the below situation
I'm trying to invoke a method on the device module without having to provide any timeout number. my current code is as below
var methodInvocation = new CloudToDeviceMethod("invokesenddicomimages") { ResponseTimeout = TimeSpan.FromSeconds(300) };
can someone help me achieving this code. I know if don't specify the timeout it will be defaulte

[2018-04-03 04:32] bospoort opened #444 "device-explorer hangs on receiving high volume of events"
when processing a large number of events from IOT hub, the device-explorer UI hangs. You have to kill it with task manager

[2018-04-03 15:08] v-tbert commented on #443
I tried the same code with a .net core 2.0 project as well and got the same result. I also tried upgrading to 1.17.0-preview-004, again with the same result.

[2018-04-03 19:16] CIPop commented on #444
Thanks @bospoort for opening and __fixing__ the issue!

[2018-04-03 19:24] CIPop commented on #19
@nbhargava123 we're not monitoring closed issues. In general, please open new issues to ensure you are getting answers.

They should be after the last release. Let us know if you see any issues.

[2018-04-03 19:25] CIPop commented on #122
@rizwaans In general we're not monitoring closed issues.

Please open a new issue and filling in information required from the new issue template.

[2018-04-03 19:44] CIPop commented on #441
@uma075 This is probably because the certificate you are trying to use is not a CA / signing certificate.
A correct certificate would have the following properties:

[code]

The one in `provisioning\device\samples\ProvisioningDeviceClientX509\certificate.pfx` cannot be used for this purpose as it has the wrong Key Usage and Enhanced Key Usage:
[code]

Please go through: https://docs.microsoft.com/

[2018-04-03 19:44] #441 closed

[2018-04-03 19:46] CIPop commented on #434
Thanks @craylward and @ChakraSpice . We are aware of several Xamarin issues and we will need to spend more time investigating.

[2018-04-03 19:48] CIPop commented on #438
Thanks for reporting this @jillcary !

[2018-04-03 20:29] CIPop commented on #419
/cc @yzhong94 @tameraw @abhipsaMisra @zolvarga

__TLDR__: This is by design. Workaround: use a connection oriented protocol such as MQTT(/WS) AMQP(/WS).

__In detail__:
We allow the `OpenAsync` API as a no-op for HTTP to allow applications to easily switch between HTTP, AMQP, MQTT (over WS) protocols. Since HTTP will not maintain an open connection (except for Keep-Alive and HTTP connection poolin

[2018-04-03 20:29] #419 closed

[2018-04-03 20:41] v-tbert commented on #443
My real code is intended to run as edge preview modules however there is a separate blocking problem with the EdgeHub module I am tracking down with the team. That issue prevents me from running in that context currently so I was trying to use a stripped down of my device code to communicate directly with iothub since the docs say device twin properties/methods work currently.

[2018-04-03 21:05] rizwaans commented on #122
@CIPop  I opened a new issue, #6625 can you please help me to get a fix for this issue :) many thanks

[2018-04-03 21:06] v-tbert commented on #443
This is the stack trace but I fear it may be misleading. When I ran the debugger against decompiled sources it looked like the exception might actually be originating from mscorlib. I look forward to your diagnosis. :)

   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()
   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
   at Micr

[2018-04-04 09:34] amogh79 commented on #435
@alextolp My understanding is that the continuation token can help forward only paging. Any thoughts how I can move back within the pages?

[2018-04-04 10:36] amogh79 commented on #378
@CIPop Thanks for the update. Can you please let me know when this will be released to nuget? TPM devices will start getting on-boarded pretty soon for us.

[2018-04-04 18:12] alextolp commented on #435
@amogh79 unfortunately moving back within pages is not supported on the service side. One way it could be accomplished is by using a caching layer on the client side.

[2018-04-04 23:27] CIPop commented on #378
@amogh79 we're actively working on a new release which will include this fix.

[2018-04-05 09:20] crates-barrels opened #447 "Repeatedly throwing exceptions on internet reconnection"
- **OS, version, SKU and CPU architecture used:** Windows 10 IoT Core arm32
- **Application's .NET Target Framework :** uap10.0 build 16299 with netstandard 2.0
- **Device:** Dragonboard 410c
- **SDK version used:** Microsoft.Azure.Devices.Client v1.7.0 / Microsoft.Azure.Devices.Client v1.17.0-preview-004 / Master branch

# Description of the issue:

I'm using the [Device Management Client for Win

[2018-04-05 13:47] dmytro-gokun commented on #420
@CIPop @zolvarga Guys, is there any chance this will be investigated/fixed any time soon? We see literally hundreds of these exceptions every day, they really disrupt our normal operations.

[2018-04-05 18:04] CIPop commented on #447
This is a duplicate of #265.

[2018-04-05 18:05] CIPop commented on #447
@crates-barrels is there an impact to the application? If you reconnect will the device eventually re-establish the IoT Hub connection?

[2018-04-05 18:10] CIPop commented on #420
@dmytro-gokun This appears to be a service-side issue. In general, for guaranteed response times or service issues please use the Azure Subscription support: https://github.com/azure/azure-iot-sdk-csharp#need-support

[2018-04-05 20:41] onionhammer opened #448 "RegistryManager Query results returns 'offline' for online devices"
Not sure if this is a bug or a limitation, but it's definitely not ideal that the real connection state is **always** set to `Disconnected` even if via the portal the state is `Connected`. This is especially important if your team is planning to go through on its threat to remove operations monitoring.

Online/offline states should trigger twin change events as well

[code]

[2018-04-06 02:02] v-tbert commented on #190
How do I re-open this? AMQP seems to be limited to multiplexing 10 devices in the latest RTM build.

[2018-04-06 06:38] dmytro-gokun commented on #420
@CIPop Okay, thanks for the advise. I've create a support ticket.

[2018-04-06 06:38] #420 closed

[2018-04-06 06:40] dmytro-gokun commented on #386
@CIPop KeyNotFoundException does not look like a service-side issue, right? Or, do you want me to open a support ticket for this one as well?

[2018-04-06 07:29] crates-barrels commented on #447
Yes @CIPop, the connection re-establishes when reconnected.
This is handled by the Device Management Client:
[code]

There is no real impact on the application, but it's rather annoying to have HockeyApp flooded with exceptions.
Also, when the device is on a metered connection, there will be a lot of unnecessary data usage. Our devices will be operating most of the time on cellular.

[2018-04-07 14:01] termocontrole commented on #439
Hi @myagley @damonbarry,

Did you see this problem?

I would like to help more, but the maximum access I have is the debug logs, since the V2 code is not available.

Thank you.

[2018-04-09 15:00] v-tbert opened #449 "Calling CloseAsync on DeviceClient doesn't trigger handler registered with SetConnectionStatusChangesHandler"
Explicitly closing a DeviceClient connection that has a handler registered for connection status does NOT cause the handler to be fired.

deviceClient.SetConnectionStatusChangesHandler(OnStatusChanged);
await deviceClient.OpenAsync();
await deviceClient.CloseAsync();
await deviceClient.OpenAsync();

  <package id="DotNetty.Buffers" version="0.4.7" targetFramework="net461" />
  <package id="DotNett

[2018-04-09 15:05] v-tbert commented on #449
Relevant packages:
`  <package id="DotNetty.Buffers" version="0.4.7" targetFramework="net461" />
  <package id="DotNetty.Codecs" version="0.4.7" targetFramework="net461" />
  <package id="DotNetty.Codecs.Mqtt" version="0.4.7" targetFramework="net461" />
  <package id="DotNetty.Common" version="0.4.7" targetFramework="net461" />
  <package id="DotNetty.Handlers" version="0.4.7" targetFramework="net

[2018-04-09 16:59] v-tbert opened #450 "Callback registered with SetDesiredPropertyUpdateCallbackAsync not called unless desired properties set while active connection"
If you use RegistryManager to set a desired property on a twin, create a DeviceClient (AMQP or MQTT), register a callback with DeviceClient SetDesiredPropertyUpdateCallbackAsync, and OpenAsync() the client your handler registered does not get called. However, if you set the desired property after OpenAsync, the callback is called. This would then seem to necessitate that every time a client connec

[2018-04-09 22:28] #444 closed

[2018-04-10 17:45] damonbarry commented on #439
@termocontrole

There is no way currently to change the default token period in the C# SDK.

The `TLS handshake failed` failures you're seeing in IoT Edge are transient, coming from a lower layer when we close the connection at a higher layer, and nothing to worry about.

The exceptions seen on platforms at the low end of our HW requirements (like Pi) are being tracked in Azure/iot-edge#475.

[2018-04-10 18:54] termocontrole commented on #439
Thanks @damonbarry for the clarifications, I will follow that issue.

[2018-04-10 18:55] #439 closed

[2018-04-11 23:59] yzhong94 commented on #441
@uma075 , thank you for your contribution to our open-sourced project!  Please help us improve by filling out this 2-minute customer satisfaction survey

[2018-04-12 00:01] yzhong94 commented on #439
@termocontrole , thank you for your contribution to our open-sourced project!  Please help us improve by filling out this [2-minute customer satisfaction survey](https://www.surveymonkey.com/r/Q5PLZ3V)

[2018-04-12 00:01] yzhong94 commented on #432
@krishnasingh1818 , thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute customer satisfaction survey

[2018-04-12 00:04] yzhong94 commented on #431
@pizerg , thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://www.surveymonkey.com/r/Q5PLZ3V)

[2018-04-12 00:04] yzhong94 commented on #423
@mathisharp , thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://www.surveymonkey.com/r/Q5PLZ3V)

[2018-04-12 00:04] yzhong94 commented on #420
@dmytro-gokun , thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://www.surveymonkey.com/r/Q5PLZ3V)

[2018-04-12 00:05] yzhong94 commented on #416
@SergiyIvanovAtGTI , thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://www.surveymonkey.com/r/Q5PLZ3V)

[2018-04-12 00:08] yzhong94 commented on #378
@amogh79 , thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://www.surveymonkey.com/r/Q5PLZ3V)

[2018-04-12 00:09] yzhong94 commented on #419
@Meandron , thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://www.surveymonkey.com/r/Q5PLZ3V)

[2018-04-12 00:09] yzhong94 commented on #190
@v-tbert we do not monitor closed issues.  Please open a new issue instead.  Thanks!

[2018-04-12 00:10] yzhong94 commented on #424
@amogh79 , thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://www.surveymonkey.com/r/Q5PLZ3V)

[2018-04-12 00:10] yzhong94 commented on #397
@CamSoper , thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://www.surveymonkey.com/r/Q5PLZ3V)

[2018-04-12 00:11] yzhong94 commented on #336
@tylerl0706 , thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://www.surveymonkey.com/r/Q5PLZ3V)